@using ManasquanBank.Web.Models;
@using (Html.BeginUmbracoForm("SubmitForm", "ContactUs", FormMethod.Post, new { id = "contactForm", @class = "contactForm wpcf7-form" }))
{
    if (String.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @ViewBag.ErrorMessage
        </div>
    }
    string secretKey = @System.Configuration.ConfigurationManager.AppSettings["recaptchaPrivateKey"];
    string publicKey = @System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"];
<div class="row">
    <div class="col-md-6 col-sm-6 lftfield">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control " required name="firstName" id="firstName">
            <span class="errorSpan vd f-error">*</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control requiredFld" required name="lastName" id="lastName">
            <span class="errorSpan vd f-error">*</span>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 rtfield">
        <div class="form-group">
            <label for="cntTelePhone">Telephone</label>
            <input type="text" class="form-control" name="cntTelePhone" id="cntTelePhone">
        </div>
        <div class="form-group">
            <label for="cntEmail">Email</label>
            <input type="email" class="form-control" required name="cntEmail" id="cntEmail">
            <span class="errorSpan vd f-error">*</span>
        </div>
    </div>
</div>
<div class="row mob-flex">
    <div class="col-md-6 col-sm-6 lftfield">
        <div class="form-group">
            <label>Area of Interest</label>
            <div class="checkbox">
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Open an account" name="checkboxs" id="checkbox1">
                    <span class="checkmark"></span>
                    Open an account
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Get more information about a product" name="checkboxs" id="checkbox2">
                    <span class="checkmark"></span>
                    Get more information about a product
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Report and issue with the website and services" name="checkboxs" id="checkbox3">
                    <span class="checkmark"></span>
                    Report and issue with the website and services
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Send Feedback" name="checkboxs" id="checkbox4">
                    <span class="checkmark"></span>
                    Send Feedback
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Work at Manasquan Bank" name="checkboxs" id="checkbox1">
                    <span class="checkmark"></span>
                    Work at Manasquan Bank
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" class="checkbox" value="Other" name="checkboxs" id="checkbox6">
                    <span class="checkmark"></span>
                    Other
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 rtfield">
        <div class="form-group">
            <label for="cntComments">Questions/Comments</label>
            <textarea class="form-control txtArea" name="cntComments" id="cntComments" rows="4"></textarea>
        </div>
    </div>
    <div class="captchaBlock">
        <div class="g-recaptcha" data-sitekey="@publicKey" data-callback="onSubmit" data-size="invisible"></div>
        <p class="form1_error hide">The captcha is required and can't be empty.</p>
        
    </div>
    <button class="btn-mansq pull-right btnManasq"><span>SUBMIT</span></button>
    <input type="hidden" id="adminEmail" name="AdminEmail" value="@Model.AdminEmail" />
    <input type="hidden" id="confirmationEmail" name="ConfirmationEmail" value="@Model.ConfirmationEmail" />
</div>
}


