@using Umbraco.Core.Logging
@using umbraco.MacroEngines
@using RJP.MultiUrlPicker.Models
@using Newtonsoft.Json
@using Umbraco.Web.Extensions
@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var title = Model.Content.GetPropertyValue<string>("title");
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var content = Model.Content.GetPropertyValue<string>("content");
    var cTAButton1 = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton1");
    var cTAButton2 = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton2");
    var cTAButton3 = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton3");
    var pillerImage = Model.Content.GetPropertyValue<IPublishedContent>("image");
    var pillerImageTitle = Model.Content.GetPropertyValue<string>("imageTitle");
    var pillerBodyText = Model.Content.GetPropertyValue<string>("bodyText");
    var statementImage = Model.Content.GetPropertyValue<IPublishedContent>("statementImage");
    var statementimageTitle = Model.Content.GetPropertyValue<string>("statementImageTitle");
    var statementimagedescription = Model.Content.GetPropertyValue<string>("imageDescription");
    var statementBodyText = Model.Content.GetPropertyValue<string>("statementBodyText");
    var leadership = Model.Content.AncestorOrSelf(2).Children();
}


<section class="heroBanner">
    @if (heroImage != null)
    {
      <figure class="bannerImage" style="background-image: url(@heroImage.Url)"></figure>
    }
</section>
<section class="heroBlock">
    <div class="containerWrapper">
        <div class="bgWrap">
            @if (!string.IsNullOrEmpty(title))
            {
                <h2>@title</h2>
            }
            @if(!string.IsNullOrEmpty(content))
            {
                @Html.Raw(content)
            }
            <ul class="heroLinks">
                @if (Model.Content.HasValue("cTAButton1"))
                {
                    foreach (var CTA in cTAButton1)
                    {
                        var cTAtitle = CTA.GetPropertyValue<string>("title");
                        var link = CTA.GetPropertyValue<Link>("link");

                        <li class="client-service">
                            @if (link != null)
                            {
                                if (link.Target == "_blank")
                                {
                                    <a href="@link.Url" target="_blank">
                                        <span class="heroLinksImage"><img src="/images/about/client-services.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>

                                    </a>
                                }
                                else
                                {
                                    <a href="@link.Url">
                                        <span class="heroLinksImage"><img src="/images/about/client-services.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>
                                    </a>
                                }

                            }
                            else
                            {
                                <span class="heroLinksImage"><img src="/images/about/client-services.png"></span>
                                <span class="heroLinksText">
                                    @if (!string.IsNullOrEmpty(cTAtitle))
                                    {
                                        var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                        @Html.Raw(replacetitle)
                                    }
                                </span>
                            }

                        </li>
                    }

                }
                @if (Model.Content.HasValue("cTAButton2"))
                {
                    foreach (var CTA in cTAButton2)
                    {
                        var cTAtitle = CTA.GetPropertyValue<string>("title");
                        var link = CTA.GetPropertyValue<Link>("link");

                        <li class="find-us">
                            @if (link != null)
                            {
                                if (link.Target == "_blank")
                                {
                                    <a href="@link.Url" target="_blank">
                                        <span class="heroLinksImage"><img src="/images/about/find-us.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>

                                    </a>
                                }
                                else
                                {
                                    <a href="@link.Url">
                                        <span class="heroLinksImage"><img src="/images/about/find-us.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>
                                    </a>
                                }

                            }
                            else
                            {
                                <span class="heroLinksImage"><img src="/images/about/find-us.png"></span>
                                <span class="heroLinksText">
                                    @if (!string.IsNullOrEmpty(cTAtitle))
                                    {
                                        var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                        @Html.Raw(replacetitle)
                                    }
                                </span>
                            }

                        </li>
                    }

                }
                @if (Model.Content.HasValue("cTAButton3"))
                {
                    foreach (var CTA in cTAButton3)
                    {
                        var cTAtitle = CTA.GetPropertyValue<string>("title");
                        var link = CTA.GetPropertyValue<Link>("link");

                        <li class="call-us">
                            @if (link != null)
                            {
                                if (link.Target == "_blank")
                                {
                                    <a href="@link.Url" target="_blank">
                                        <span class="heroLinksImage"><img src="/images/about/call-us.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>

                                    </a>
                                }
                                else
                                {
                                    <a href="@link.Url">
                                        <span class="heroLinksImage"><img src="/images/about/call-us.png"></span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>
                                    </a>
                                }

                            }
                            else
                            {
                                <span class="heroLinksImage"><img src="/images/about/call-us.png"></span>
                                <span class="heroLinksText">
                                    @if (!string.IsNullOrEmpty(cTAtitle))
                                    {
                                        var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                        @Html.Raw(replacetitle)
                                    }
                                </span>
                            }

                        </li>
                    }

                }
            </ul>
        </div>
    </div>
</section>
<section class="ContentBlk1 ltAlign">
    <div class="containerWrapper">
        <div class="bgWrap">
            <div class="flexWrapper">
                <div class="ContentImageWrap">
                    @if (pillerImage != null)
                    {
                      <figure class="contentImg" style="background-image: url(@pillerImage.Url);"></figure>
                    }
                   <div class="figureContent">
                        @if (!string.IsNullOrEmpty(pillerImageTitle))
                        {
                            <h4>@pillerImageTitle</h4>
                        }
                    </div>
                </div>
                <div class="ContentParaWrap">
                    <div class="SingleContentBlk">
                        @if(!string.IsNullOrEmpty(pillerBodyText))
                        {
                          @Html.Raw(pillerBodyText)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ContentBlk1 rtAlign">
    <div class="containerWrapper">
        <div class="bgWrap">
            <div class="flexWrapper">
                <div class="ContentParaWrap contentLeft">
                    <div class="SingleContentBlk">
                        @if(!string.IsNullOrEmpty(statementBodyText))
                        {
                            @Html.Raw(statementBodyText)
                        }
                    </div>
                </div>
                <div class="ContentImageWrap">
                    @if (statementImage != null)
                    {
                      <figure class="contentImg" style="background-image: url(@statementImage.Url);"></figure>
                    }
                    
                    <div class="figureContent">
                        @if (!string.IsNullOrEmpty(statementimageTitle))
                        {
                          <h4>@statementimageTitle</h4>
                        }
                        @if(!string.IsNullOrEmpty(statementimagedescription))
                        {
                          @Html.Raw(statementimagedescription)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<section class="boardDirectors">
    <div class="containerWrapper">
        <div class="bgWrap">
            <div class="titleWrap">
                <h3>Board of Directors</h3>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <h5>James S. Vaccaro</h5>
                            <p>Chairman</p>
                        </td>
                        <td>
                            <h5>Christopher R. Housen</h5>
                            <p>Board Member</p>
                        </td>
                        <td>
                            <h5>Jenniffer Collins</h5>
                            <p>Board Member</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>James M. Manser</h5>
                            <p>Lead Director</p>
                        </td>
                        <td>
                            <h5>James J. Lepore, Jr.</h5>
                            <p>Board Member</p>
                        </td>
                        <td>
                            <h5>Theodore F. Raffetto</h5>
                            <p>Board Member</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>Andy Sisti</h5>
                            <p>Lead Director</p>
                        </td>
                        <td>
                            <h5>Ann Noble</h5>
                            <p>Board Member</p>
                        </td>
                        <td>
                            <h5>James S. Hickey</h5>
                            <p>Board Member</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>*@

@if (leadership != null)
{
    foreach (var item in leadership)
    {
        var bgcolor = item.GetPropertyValue<string>("backgroundColor");
        var leadtitle = item.Name;
        var bios = item.Children;
        
       
            <section class="execManage">
            <div class="containerWrapper">
                <div class="bgWrap" style="background-color:@bgcolor">
                    <div class="titleWrap">
                        <h3>@leadtitle</h3>
                    </div>
                    <div class="memberFlexWrap">

                       @foreach (var bio in bios)
                       {
                        <div class="memberFlex">
                            <h5>@bio.Name</h5>
                            <p>Board Member</p>
                            <div class="memberFlexIcons">
                                <p>
                                    <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                                    <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                                </p>
                            </div>
                        </div>
                       }

                        
                        @*<div class="memberFlex">
                            <h5>Theodore F. Raffetto</h5>
                            <p>Board Member</p>
                            <div class="memberFlexIcons">
                                <p>
                                    <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                                    <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                                </p>
                            </div>
                        </div>
                        <div class="memberFlex">
                            <h5>Theodore F. Raffetto</h5>
                            <p>Board Member</p>
                            <div class="memberFlexIcons">
                                <p>
                                    <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                                    <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                                </p>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
    }
}


@*<section class="snrManage">
    <div class="containerWrapper">
        <div class="bgWrap">
            <div class="titleWrap">
                <h3>Senior Management</h3>
            </div>
            <div class="memberFlexWrap">
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
                <div class="memberFlex">
                    <h5>James S. Vaccaro</h5>
                    <p>Chairman, President & CEO</p>
                    <div class="memberFlexIcons">
                        <p>
                            <a href="#"><img src="images/about/mail_icon.png" alt="Mail_Icon"></a>
                            <a href="#"><img src="images/about/user_icon.png" alt="User_Icon"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="historyTimeline" style="background-image: url('images/about/about-footer.jpg');">
    <div class="containerWrapper">
        <div class="bgWrap">
            <div class="titleWrap">
                <h3>Manasquan Bank History Timeline</h3>
                <p><a href="#" class="btnManasq"><span>View the Details</span></a></p>
            </div>
        </div>
    </div>
</section>