@using Umbraco.Core.Logging
@using umbraco.MacroEngines
@using RJP.MultiUrlPicker.Models
@using Newtonsoft.Json
@using Umbraco.Web.Extensions
@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var title = Model.Content.GetPropertyValue<string>("title");
    var bgImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var profileImage = Model.Content.GetPropertyValue<IPublishedContent>("ProfileImage");
    var name = Model.Content.GetPropertyValue<string>("employeeName");
    var employeeTitle = Model.Content.GetPropertyValue<string>("employeeTitle");
    var license = Model.Content.GetPropertyValue<string>("license");
    var address1 = Model.Content.GetPropertyValue<string>("address1");
    var address2 = Model.Content.GetPropertyValue<string>("address2");
    var officeNumber = Model.Content.GetPropertyValue<string>("officeNumber");
    var phoneNumber = Model.Content.GetPropertyValue<string>("phoneNumber");
    var cTAButton = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton");
    var bodyText = Model.Content.GetPropertyValue<string>("bodyText");
    var email = Model.Content.GetPropertyValue<string>("email");
    var backUrl = Model.Content.AncestorOrSelf(2);
}
@section BackgroundImage {
    @if (bgImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@bgImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<div class="bioPage">
    <section class="heroBanner">
    </section>
    <section class="heroBlock" id="sliders-container">
        <div class="containerWrapper">
            <div class="bgWrap">
                <div class="bioFlex">
                    @if (profileImage != null)
                    {
                        <figure class="bioFlexImg" style="background-image: url(@profileImage.Url)"></figure>
                    }
                    <div class="bioFlexContent">
                        @if (!string.IsNullOrEmpty(name))
                        {
                            <h5>@name</h5>
                        }
                        @if (!string.IsNullOrEmpty(employeeTitle))
                        {
                            <p class="cmpTitle">@Html.Raw(employeeTitle)</p>
                        }
                        @if (!string.IsNullOrEmpty(address1))
                        {
                            <p class="cmpAddr1">@address1</p>
                        }
                        @if (!string.IsNullOrEmpty(address2))
                        {
                            <p class="cmpAddr2">
                                @Html.Raw(address2)
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(officeNumber))
                        {
                            <p class="phoneNo"><img src="/images/bio/phone_icon.png" alt="">Office: <a href="tel:@officeNumber">@officeNumber</a></p>
                        }
                        @if (!string.IsNullOrEmpty(phoneNumber))
                        {
                            <p class="phoneNo"><img src="/images/bio/phone_icon.png" alt="">Cell Phone: <a href="tel:@phoneNumber">@phoneNumber</a></p>
                        }
                        @if (Model.Content.HasValue("cTAButton"))
                        {
                            foreach (var item in cTAButton)
                            {
                                var cTAtitle = item.GetPropertyValue<string>("title");
                                var link = item.GetPropertyValue<Link>("link");
                                if (link != null)
                                {
                                    if (link.Target == "_blank")
                                    {
                                        <a class="btnManasq" href="@link.Url" target="_blank">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                <span>@cTAtitle</span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btnManasq" href="@link.Url">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                <span>@cTAtitle</span>
                                            }
                                        </a>
                                    }
                                }


                                @*if (!string.IsNullOrEmpty(email))
                                {
                                    <a class="btnManasq" href="mailto:@email" target="_blank">
                                        @if (!string.IsNullOrEmpty(cTAtitle))
                                        {
                                            <span>@cTAtitle</span>
                                        }
                                    </a>
                                }*@
                                if (link != null)
                                {
                                    if (link.Target == "_blank")
                                    {
                                        <a class="btnManasq" href="@link.Url" target="_blank">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                <span>@cTAtitle</span>
                                            }
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btnManasq" href="@link.Url">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                <span>@cTAtitle</span>
                                            }
                                        </a>
                                    }
                                }
                            }
                        }

                    </div>
                </div>
                <div class="bioContent">
                    @if (!string.IsNullOrEmpty(bodyText))
                    {
                        @Html.Raw(bodyText)
                    }
                    @if (backUrl != null)
                    {
                        <p><a href="@backUrl.Url" class="back-btn"><img src="/images/bio/back_arrow.png" alt=""> Back</a></p>
                    }
                </div>
                </div>
            </div>
    </section>
</div>