@using Umbraco.Core.Logging
@using umbraco.MacroEngines
@using RJP.MultiUrlPicker.Models
@using Newtonsoft.Json
@using Umbraco.Web.Extensions
@using System.Linq
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";

    var title = Model.Content.GetPropertyValue<string>("title");
    var bgImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var content = Model.Content.GetPropertyValue<string>("content");
    var CTAButton1 = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton1");
    var CTAButton2 = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cTAButton2");
    var services = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("service");
    var actionPanel = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("actionPanel");


}
<section class="heroBanner">
    @if (bgImage != null)
            {
        <figure class="bannerImage" style="background-image: url(@bgImage.Url)"></figure>
    }

</section>
<section class="heroBlock csheorBlk">
    <div class="containerWrapper">
        <div class="bgWrap">
            @if (!string.IsNullOrEmpty(title))
            {
                <h2>@title</h2>
            }
            @if (!string.IsNullOrEmpty(content))
            {
                @Html.Raw(content)
            }

            <ul class="heroLinks">
                @if (Model.Content.HasValue("cTAButton1"))
                {
                    foreach (var CTA in CTAButton1)
                    {
                        var cTAtitle = CTA.GetPropertyValue<string>("title");
                        var iconImage = CTA.GetPropertyValue<IPublishedContent>("iconImage");
                        var link = CTA.GetPropertyValue<Link>("link");

                        <li class="find-us">
                            @if (link != null)
                            {
                                if (link.Target == "_blank")
                                {
                                    <a href="@link.Url" target="_blank">
                                        <span class="heroLinksImage">
                                            @if (iconImage != null)
                                            {
                                                <img src="@iconImage.Url">
                                            }
                                            else
                                            {
                                                <img src="/images/about/find-us.png">
                                            }
                                        </span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                @Html.Raw(cTAtitle)
                                            }
                                        </span>

                                    </a>
                                }
                                else
                                {
                                    <a href="@link.Url">
                                        <span class="heroLinksImage">
                                        @if (iconImage != null)
                                        {
                                            <img src="@iconImage.Url">
                                        }
                                        else
                                        {
                                            <img src="/images/about/find-us.png">
                                        }
                                        </span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                               @Html.Raw(cTAtitle)
                                            }
                                        </span>
                                    </a>
                                }

                            }
                            else
                            {
                                <span class="heroLinksImage">
                                    @if (iconImage != null)
                                    {
                                        <img src="@iconImage.Url">
                                    }
                                    else
                                    {
                                        <img src="/images/about/find-us.png">
                                    }
                                </span>
                                <span class="heroLinksText">
                                    @if (!string.IsNullOrEmpty(cTAtitle))
                                    {
                                        @Html.Raw(cTAtitle)
                                    }
                                </span>
                            }

                        </li>
                    }

                }
                @if (Model.Content.HasValue("cTAButton2"))
                {
                    foreach (var CTA in CTAButton2)
                    {
                        var cTAtitle = CTA.GetPropertyValue<string>("title");
                        var iconImage = CTA.GetPropertyValue<IPublishedContent>("iconImage");
                        var link = CTA.GetPropertyValue<Link>("link");

                        <li class="client-service">
                            @if (link != null)
                            {
                                if (link.Target == "_blank")
                                {
                                    <a href="@link.Url" target="_blank">
                                        <span class="heroLinksImage">
                                            @if (iconImage != null)
                                            {
                                                <img src="@iconImage.Url">
                                            }
                                            else
                                            {
                                                <img src="/images/about/expert-icon.png">
                                            }
                                        </span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                @Html.Raw(cTAtitle)
                                            }
                                        </span>

                                    </a>
                                }
                                else
                                {
                                    <a href="@link.Url">
                                        <span class="heroLinksImage">
                                        @if (iconImage != null)
                                        {
                                            <img src="@iconImage.Url">
                                        }
                                        else
                                        {
                                            <img src="/images/about/expert-icon.png">
                                        }
                                        </span>
                                        <span class="heroLinksText">
                                            @if (!string.IsNullOrEmpty(cTAtitle))
                                            {
                                                var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                                @Html.Raw(replacetitle)
                                            }
                                        </span>
                                    </a>
                                }

                            }
                            else
                            {
                                <span class="heroLinksImage">
                                @if (iconImage != null)
                                {
                                    <img src="@iconImage.Url">
                                }
                                else
                                {
                                    <img src="/images/about/expert-icon.png">
                                }
                                </span>
                                <span class="heroLinksText">
                                    @if (!string.IsNullOrEmpty(cTAtitle))
                                    {
                                        var replacetitle = cTAtitle.Replace("<p>", "").Replace("</p>", "");
                                        @Html.Raw(replacetitle)
                                    }
                                </span>
                            }

                        </li>
                    }

                }


            </ul>
        </div>
    </div>
</section>
<section class="service-section">
    <div class="containerWrapper">

        @if (Model.Content.HasValue("service"))
        {
            foreach (var item in services)
            {
                var clientServiceTitle = item.GetPropertyValue<string>("clientServiceTitle");
                var clientServiceBGColor = item.GetPropertyValue<string>("clientServiceBackgroundColor");
                var tiles = item.GetPropertyValue<IEnumerable<IPublishedContent>>("tiles");
                if (!string.IsNullOrEmpty(clientServiceBGColor))
                {
                    <div class="bgWrap" style="background-color:@clientServiceBGColor">




                        @if (!string.IsNullOrEmpty(clientServiceTitle))
                        {
                            <h2>@clientServiceTitle</h2>
                        }

                        @if (tiles.Count() > 0)
                        {  <ul>

                            @foreach (var tile in tiles)
                            {
                                var icons = tile.GetPropertyValue<IPublishedContent>("icons");
                                var descriptors = tile.GetPropertyValue<string>("iconDescriptors");
                                var link = tile.GetPropertyValue<Link>("clientServiceLink");

                                <li>
                                    @if (link != null)
                                    {
                                        if (link.Target == "_blank")
                                        {
                                            <a href="@link.Url" target="_blank">
                                                @if (icons != null)
                                                {
                                                    <figure>
                                                        <img src="@icons.Url" alt="@icons.Name" />
                                                    </figure>
                                                }
                                                @if (!string.IsNullOrEmpty(descriptors))
                                                {
                                                    <span>@descriptors</span>
                                                }
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@link.Url">
                                                @if (icons != null)
                                                {
                                                    <figure>
                                                        <img src="@icons.Url" alt="@icons.Name" />
                                                    </figure>
                                                }
                                                @if (!string.IsNullOrEmpty(descriptors))
                                                {
                                                    <span>@descriptors</span>
                                                }
                                            </a>
                                        }

                                    }
                                    else
                                    {
                                        if (icons != null)
                                        {
                                            <figure>
                                                <img src="@icons.Url" alt="@icons.Name" />
                                            </figure>
                                        }
                                        if (!string.IsNullOrEmpty(descriptors))
                                        {
                                            <span>@descriptors</span>
                                        }
                                    }
                                </li>
                            }

                        </ul>
                        }

                    </div>
                }
            }
        }
     </div>
</section>

<section class="bluePannel servie-bluePannel animatable">
    <div class="containerWrapper">
        <div class="bgWrap">
            @if (Model.Content.AncestorOrSelf(1).HasValue("actionPanel"))
            {
                int j = 1;
                foreach (var action in actionPanel)
                {
                    var actionTitle = action.GetPropertyValue<string>("actionTitle");
                    var actionDescription = action.GetPropertyValue<string>("actionDescription");
                    var tagLineSentence = action.GetPropertyValue<string>("tagLineSentence");
                    var actioncTAButton = action.GetPropertyValue<Link>("actioncTAButton");
                    <div class="detailsWrap">
                        <div class="wraps">
                            @if (!string.IsNullOrEmpty(actionTitle))
                            {
                                <h2>@actionTitle </h2>
                            }
                            @if (!string.IsNullOrEmpty(tagLineSentence))
                            {
                                <h3>@tagLineSentence </h3>
                            }
                            @if (!string.IsNullOrEmpty(actionDescription))
                            {
                                @Html.Raw(actionDescription)
                            }
                        </div>
                        @if (actioncTAButton.Target == "_blank")
                    {
                            <a class="btnManasq" href="@actioncTAButton.Url" target="_blank" title="@actioncTAButton.Name"><span>@actioncTAButton.Name </span></a>
                        }
                        else
                        {
                            <a class="btnManasq" href="@actioncTAButton.Url" title="@actioncTAButton.Name"><span>@actioncTAButton.Name </span></a>
                        }

                    </div>
                    if (j == 1)
                    {

                        <figure>
                            <img src="~/images/home/img_or.png" alt="OR">
                        </figure>
                    }
                    j++;
                }

            }
        </div>
    </div>
</section>

