@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using RJP.MultiUrlPicker.Models;
@{
    Layout = "Master.cshtml";
    var filterBannerHeroImage = Model.Content.AncestorOrSelf(2).GetPropertyValue<IPublishedContent>("detailHeroImage");
    var detailImage = Model.Content.GetPropertyValue<IPublishedContent>("detailImage");
    var bodyText = Model.Content.GetPropertyValue<string>("bodyText");
    var filterDetailTitle = Model.Content.GetPropertyValue<string>("filterDetailTitle");
    var filterDate = Model.Content.GetPropertyValue<string>("filterDate");
    var filtercTAButton = Model.Content.GetPropertyValue<Link>("filtercTAButton");
    var parent = Model.Content.AncestorOrSelf(2);

   


}
@section BackgroundImage {
    @if (filterBannerHeroImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@filterBannerHeroImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<div class="filterDetail">
    <section class="heroBanner">
       
    </section>
    <section class="heroBlock">
        <div class="containerWrapper">
            <div class="bgWrap">
                @if (!string.IsNullOrEmpty(filterDetailTitle))
                {
                    <h2>@filterDetailTitle</h2>
                }
                <h5>@library.FormatDateTime(@filterDate, "MMMM dd, yyyy")</h5>
                @if (detailImage != null)
                {
                    <figure>
                        <img src="@detailImage.Url" alt="@filterDetailTitle">
                    </figure>
                }
                @if (!string.IsNullOrEmpty(bodyText))
                {
                    @Html.Raw(bodyText)
                }
                <div class="heroFoot">
                    @if (filtercTAButton != null)
                    {
                        if (filtercTAButton.Target == "_blank")
                        {
                            <a class="back-btn" href="@filtercTAButton.Url" target="_blank" title="@filtercTAButton.Name"> < @filtercTAButton.Name </a>
                        }
                        else
                        {
                            <a class="back-btn" href="@filtercTAButton.Url" title="@filtercTAButton.Name"> <  @filtercTAButton.Name </a>
                        }
                    }
                    else
                    {
                        <a href="@parent.Url" class="back-btn"> < Back</a>
                    }
                    <div class="sharePanel">
                        @if (detailImage != null)
                        {
                                    var image = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath + detailImage.Url;

                                    <a href="javascript:void(0);" st_url="@Model.Content.Url" st_title="@filterDetailTitle" st_image="@image" class="st_sharethis_large" displaytext="ShareThis">+ share</a>
                        }
                        else
                        {
                            <a href="javascript:void(0);" st_url="@Model.Content.Url" st_title="@filterDetailTitle" class="st_sharethis_large" displaytext="ShareThis">+ share</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section InnerBottomScript {
    <!--Responsive ShareThis Starts-->
    <script type="text/javascript">if (document.documentElement.clientWidth > 599) { var switchTo5x = true; } else { var switchTo5x = false; }</script>
    <script type="text/javascript" src="//ws.sharethis.com/button/buttons.js" defer></script>
    <script type="text/javascript" src="//ss.sharethis.com/loader.js" defer></script>
    <!--Responsive ShareThis Ends-->
}