@using RJP.MultiUrlPicker.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = null;
    var favicon = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("favicon");
    var logo = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("siteLogo");
    var openAccountLink = Model.Content.AncestorOrSelf(1).GetPropertyValue<Link>("openAnAccount");
    Html.RequiresCss("~/css/lib/nprogress.css");
    Html.RequiresCss("~/css/lib/bootstrap.min.css");
    Html.RequiresCss("~/css/lib/jquery.mb.YTPlayer.min.css");
    Html.RequiresCss("~/css/style.min.css");
    Html.RequiresJs("~/scripts/lib/jquery.js");
    Html.RequiresJs("~/scripts/lib/nprogress.js");
    Html.RequiresJs("~/scripts/lib/modernizr-custom.js");
    Html.RequiresJs("~/scripts/lib/scrollanimation.js");
    Html.RequiresJs("~/scripts/lib/waypoints.min.js");
    Html.RequiresJs("~/scripts/lib/jquery.mb.YTPlayer.js");
    Html.RequiresJs("~/scripts/lib/jquery.validate.min.js");
    Html.RequiresJs("~/scripts/main.min.js");        

}
<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  @Html.Partial("SeoMetaData")
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", shrink-to-fit="no" />
  <link rel="shortcut icon" href="@favicon.Url" type="image/x-icon">
  @Html.RenderCssHere()
  @RenderSection("InnerTopStyle", false)
</head>
<body style="display: none">
    @RenderSection("BackgroundImage", false)
    <div class="loaderBlock">
        <div class="loaderWrap">
            <img src="@logo.Url" alt="Manasquan Bank Loader">
        </div>
    </div>
    <div class="siteWrap">
        <div class="siteInner">
            @Html.Partial("homePopUp")
            @Html.Partial("Header")
            <div class="openAccount">
                @if (openAccountLink != null)
                {
                    if (openAccountLink.Target == "_blank")
                    {
                        <a href="@openAccountLink.Url" target="_blank">
                            <span>
                                @openAccountLink.Name
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="@openAccountLink.Url">
                            <span>
                                @openAccountLink.Name
                            </span>
                        </a>
                    }
                }

            </div>
            <div class="loginBlocks">
                <div class="personalLogin">
                    <h3>PERSONAL BANKING</h3>
                    <form id="mpersonalLogin" action="https://web1.secureinternetbank.com/pbi_pbi1151/login/remote/221272167" method="POST">
                        <label for="musername" class="screen-reader-text ">access id</label>
                        <input type="text" name="username" id="musername" value="" class="txtBox" title="Enter the Access ID" required placeholder="Access ID">
                        <label for="mpassword" class="screen-reader-text ">access password</label>
                        <input type="password" name="password" id="mpassword" value="" class="txtBox" title="Enter the Password" required placeholder="Password">
                        <button type="submit"> <span>Login</span></button>
                        <p>
                            <a href="https://web1.secureinternetbank.com/pbi_pbi1151/enroll/221272167" target="_blank">Sign Up</a>
                            <a class="link-text" href="https://web1.secureinternetbank.com/pbi_pbi1151/ForgotPassword/221272167" target="_blank">Forgot Password</a>
                        </p>
                    </form>
                </div>
                <div class="businessLogin">
                    <h3>BUSINESS BANKING</h3>
                    <form id="mbusinessLogin" class="form-login" action="" method="post">
                        <label for="mbusinessaccessid" class="screen-reader-text ">business access id</label>
                        <input type="text" name="AccessID" id="mbusinessaccessid" value="" class="txtBox" title="Enter the Access ID" required placeholder="Access ID">
                        <label for="mbusinesspassword" class="screen-reader-text ">business access password</label>
                        <input type="password" name="password" id="mbusinesspassword" value="" class="txtBox" title="Enter the Password" required placeholder="Password">
                        <input type="hidden" name="nmUID" />
                        <input type="hidden" name="nmRTN" />
                        <input type="hidden" name="app" value="1" />
                        <button type="submit"> <span>Login</span></button>
                        <p>
                            <a href="#">Forgot Password</a>
                        </p>
                    </form>
                </div>
            </div>
            @RenderBody()
            @Html.Partial("Footer")
            <!--<div class="overlay"></div>-->
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js" defer></script>
    @Html.RenderJsHere()
    @RenderSection("InnerBottomScript", false)
</body>
</html>


