@using RJP.MultiUrlPicker.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = null;
    var favicon = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("favicon");
    var logo = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("siteLogo");
    var openAccountLink = Model.Content.AncestorOrSelf(1).GetPropertyValue<Link>("openAnAccount");
    Html.RequiresCss("~/css/lib/nprogress.css", 1);
    Html.RequiresCss("~/css/lib/bootstrap.min.css", 2);
    Html.RequiresCss("~/css/style.min.css", 15);
    Html.RequiresJs("~/scripts/lib/jquery.js", 1);
    Html.RequiresJs("~/scripts/lib/nprogress.js", 2);
    Html.RequiresJs("~/scripts/lib/modernizr-custom.js", 3);
    Html.RequiresJs("~/scripts/lib/scrollanimation.js", 4);
    Html.RequiresJs("~/scripts/lib/waypoints.min.js", 5);
    Html.RequiresJs("~/scripts/lib/jquery.validate.min.js", 6);
    Html.RequiresJs("~/scripts/main.min.js", 20);        

}
<!DOCTYPE html>
<html lang="en-us">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", shrink-to-fit="no">
  @Html.Partial("SeoMetaData")
  <link rel="shortcut icon" href="@favicon.Url" type="image/x-icon">
  @Html.RenderCssHere()
  @RenderSection("InnerTopStyle", false)
</head>
<div id="skiptocontent"><a href="#sliders-container">skip to main content</a></div>
<body style="display: none">
    @RenderSection("BackgroundImage", false)
    <div class="loaderBlock">
        <div class="loaderWrap">
            <img src="@logo.Url" alt="Manasquan Bank Loader">
        </div>
    </div>
    <div class="siteWrap">
        <div class="siteInner">
            @Html.Partial("homePopUp")
            @Html.Partial("Header")
            <div class="openAccount">
                @if (openAccountLink != null)
                {
                    if (openAccountLink.Target == "_blank")
                    {
                        <a href="@openAccountLink.Url" target="_blank">
                            <span>
                                @openAccountLink.Name
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="@openAccountLink.Url">
                            <span>
                                @openAccountLink.Name
                            </span>
                        </a>
                    }
                }

            </div>
            <div class="loginBlocks">
                <div class="personalLogin">
                    <h3>PERSONAL BANKING</h3>
                    <form id="mpersonalLogin" action="https://web1.secureinternetbank.com/pbi_pbi1151/login/remote/221272167" method="POST">
                        <label for="musername" class="screen-reader-text ">access id</label>
                        <input type="text" name="musername" id="musername" value="" class="txtBox" title="Enter the Access ID" required placeholder="Access ID">
                        <label for="mpassword" class="screen-reader-text ">access password</label>
                        <input type="password" name="password" id="mpassword" value="" class="txtBox" title="Enter the Password" required placeholder="Password">
                        <button type="submit"> <span>Login</span></button>
                        <p>
                            <a href="https://web1.secureinternetbank.com/pbi_pbi1151/enroll/221272167" target="_blank">Sign Up</a>
                            <a class="link-text" href="https://web1.secureinternetbank.com/pbi_pbi1151/ForgotPassword/221272167" target="_blank">Forgot Password</a>
                        </p>
                    </form>
                </div>
                <div class="businessLogin">
                    <h3>BUSINESS BANKING</h3>
                    <form id="mbusinessLogin" class="form-login" action="" method="post">
                        <label for="mbusinessaccessid" class="screen-reader-text ">business access id</label>
                        <input type="text" name="mbusinessaccessid" id="mbusinessaccessid" value="" class="txtBox" title="Enter the Access ID" required placeholder="Access ID">
                        <label for="mbusinesspassword" class="screen-reader-text ">business access password</label>
                        <input type="password" name="password" id="mbusinesspassword" value="" class="txtBox" title="Enter the Password" required placeholder="Password">
                        <input type="hidden" name="nmUID" />
                        <input type="hidden" name="nmRTN" />
                        <input type="hidden" name="app" value="1" />
                        <button type="submit"> <span>Login</span></button>
                        <p>
                            <a href="#">Forgot Password</a>
                        </p>
                    </form>
                </div>
            </div>
            @RenderBody()
            @Html.Partial("Footer")
            <!--<div class="overlay"></div>-->
        </div>
    </div>
    @Html.RenderJsHere()
<script src="https://www.google.com/recaptcha/api.js" defer></script>
    @RenderSection("InnerBottomScript", false)

<script>
    $(document).ready(function () {
        var hasparameter = window.location.hash;

        if (hasparameter != "" && $(hasparameter).length > 0) {
            var h = $(hasparameter).offset().top;
            setTimeout(function () {
                $("html, body").animate({ scrollTop: h }, "slow");
            }, 1000);
        }
    });

    $("a").not("a.msubMenu").click(function (e) {
        var url = $(this).attr("href");
        if (typeof (url) !== "undefined")
            {
            var hasparameter = url.substring(url.indexOf('#') + 1);
            if (hasparameter != '') {
                hasparameter = '#' + hasparameter;
            }
            if (hasparameter != "" && $(hasparameter).length > 0) {
                var h = $(hasparameter).offset().top - $('header').height();
        
                $("html, body").animate({ scrollTop: h }, "slow").promise().done(function () {
                    $("a.logo").focus();
                });

                if ($(".hamburger").hasClass("active")) {
                    $(".hamburger").trigger("click");
                }

            }
        }
    });


</script>
</body>
</html>


