@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.MacroEngines
@using Newtonsoft.Json
@using RJP.MultiUrlPicker.Models
@using umbraco.NodeFactory
@using ContentModels = Umbraco.Web.PublishedContentModels
@using umbraco.cms.businesslogic.web
@using Umbraco.Web.Extensions
@using System.Linq
@using System.Web.Script.Serialization;
@{
    Layout = "Master.cshtml";
    var PageTitle = "";
    var title = Model.Content.GetPropertyValue<string>
    ("title");

    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>
        ("heroImage");
        var LeftNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("leftNavigation");
    var MiddleNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("middleNavigation");
    var RightNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rightNavigation");


}
<section class="heroBanner">
    @if (heroImage != null)
    {
        <figure class="bannerImage" style="background-image: url(@heroImage.Url)"></figure>
    }
</section>
<section class="heroBlock">
    <div class="containerWrapper">


        <div class="bgWrap clientServiceNeed">
            <section class="sitemap-section">
                @if (!string.IsNullOrEmpty(title))
                {
                    <h2 style="text-align:center">@title</h2><br />
                }
                <div class="sitemap-section-box">
                    <div class="full-width">
                        <div class="left-section">
                            @if (Model.Content.HasValue("leftNavigation"))
                            {
                                foreach (var node in LeftNavigation)
                                {

                                    //var tittle = CurrentNode.Name;
                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;

                                        if(CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetProperty<string>("title");
                                        }

                                        if (CurrentNode.NodeTypeAlias == "categoryDetailPage" || CurrentNode.NodeTypeAlias == "home" || CurrentNode.NodeTypeAlias == "mediaCenterLandingPage" || CurrentNode.NodeTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetProperty<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasValue("siteTitle"))
                                            {
                                                PageTitle = CurrentNode.GetProperty<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasValue("mediacenterTitle"))
                                            {
                                                PageTitle = CurrentNode.GetProperty<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasValue("productDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetProperty<string>("productDetailTitle");
                                            }
                                        }

                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.NodeTypeAlias == "categoryDetailPage")
                                                            {
                                                                var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = ChildNode.Name;

                                                                    if (ChildNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = ChildNode.GetProperty<string>("title");
                                                                    }

                                                                    if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (ChildNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                        }

                                                                        if (ChildNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = new DynamicNode().NodeById(childNode.Id);

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetProperty<string>("title");
                                                                                        }

                                                                                        if (third.NodeTypeAlias == "categoryDetailPage" || third.NodeTypeAlias == "home" || third.NodeTypeAlias == "mediaCenterLandingPage" || third.NodeTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                    }

                                                                                }


                                                                            }
                                                    </ul>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = ChildNode.Name;

                                                                                                if (ChildNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = ChildNode.GetProperty<string>("title");
                                                                                                }

                                                                                                if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (ChildNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (ChildNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                        <div class="center-section">
                            @if (Model.Content.HasValue("middleNavigation"))
                            {
                                foreach (var node in MiddleNavigation)
                                {


                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {

                                        PageTitle = CurrentNode.Name;

                                        if (CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetProperty<string>("title");
                                        }
                                        if (CurrentNode.NodeTypeAlias == "categoryDetailPage" || CurrentNode.NodeTypeAlias == "home" || CurrentNode.NodeTypeAlias == "mediaCenterLandingPage" || CurrentNode.NodeTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasProperty("siteTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasProperty("mediacenterTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasProperty("productDetailTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("productDetailTitle");
                                            }
                                        }

                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.NodeTypeAlias == "categoryDetailPage")
                                                            {
                                                                var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = ChildNode.Name;

                                                                    if (ChildNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = ChildNode.GetProperty<string>("title");
                                                                    }

                                                                    if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (ChildNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                        }

                                                                        if (ChildNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = new DynamicNode().NodeById(childNode.Id);

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetProperty<string>("title");
                                                                                        }

                                                                                        if (third.NodeTypeAlias == "categoryDetailPage" || third.NodeTypeAlias == "home" || third.NodeTypeAlias == "mediaCenterLandingPage" || third.NodeTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                    }

                                                                                }


                                                                            }
                                                    </ul>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = ChildNode.Name;

                                                                                                if (ChildNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = ChildNode.GetProperty<string>("title");
                                                                                                }

                                                                                                if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (ChildNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (ChildNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                        <div class="right-section">
                            @if (Model.Content.HasValue("rightNavigation"))
                            {
                                foreach (var node in RightNavigation)
                                {


                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;

                                        if (CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetProperty<string>("title");
                                        }
                                        if (CurrentNode.NodeTypeAlias == "categoryDetailPage" || CurrentNode.NodeTypeAlias == "home" || CurrentNode.NodeTypeAlias == "mediaCenterLandingPage" || CurrentNode.NodeTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasProperty("siteTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasProperty("mediacenterTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasProperty("productDetailTitle"))
                                            {
                                                PageTitle = Model.Content.GetPropertyValue<string>("productDetailTitle");
                                            }
                                        }
                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.NodeTypeAlias == "categoryDetailPage")
                                                            {
                                                                var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = ChildNode.Name;

                                                                    if (ChildNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = ChildNode.GetProperty<string>("title");
                                                                    }

                                                                    if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (ChildNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                        }

                                                                        if (ChildNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                        }
                                                                        if (ChildNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = new DynamicNode().NodeById(childNode.Id);

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetProperty<string>("title");
                                                                                        }

                                                                                        if (third.NodeTypeAlias == "categoryDetailPage" || third.NodeTypeAlias == "home" || third.NodeTypeAlias == "mediaCenterLandingPage" || third.NodeTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetProperty<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                    }

                                                                                }


                                                                            }
                                                    </ul>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = ChildNode.Name;

                                                                                                if (ChildNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = ChildNode.GetProperty<string>("title");
                                                                                                }

                                                                                                if (ChildNode.NodeTypeAlias == "categoryDetailPage" || ChildNode.NodeTypeAlias == "home" || ChildNode.NodeTypeAlias == "mediaCenterLandingPage" || ChildNode.NodeTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (ChildNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (ChildNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("siteTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (ChildNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = ChildNode.GetProperty<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@ChildNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>
