@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.MacroEngines
@using Newtonsoft.Json
@using RJP.MultiUrlPicker.Models
@using umbraco.NodeFactory
@using ContentModels = Umbraco.Web.PublishedContentModels
@using umbraco.cms.businesslogic.web
@using Umbraco.Web.Extensions
@using System.Linq
@using System.Web.Script.Serialization;
@{
    Layout = "Master.cshtml";
    var PageTitle = "";
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var LeftNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("leftNavigation");
    var MiddleNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("middleNavigation");
    var RightNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rightNavigation");


}
<section class="heroBanner">
    @if (heroImage != null)
    {
        <figure class="bannerImage" style="background-image: url(@heroImage)"></figure>
    }
</section>
<section class="heroBlock">
    <div class="containerWrapper">
        <div class="bgWrap clientServiceNeed">
            <section class="sitemap-section">

                <div class="sitemap-section-box">
                    <div class="full-width">
                        <div class="left-section">
                            @if (Model.Content.HasValue("leftNavigation"))
                            {
                                foreach (var node in LeftNavigation)
                                {


                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;
                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@CurrentNode.Name</a></h4>

                                        if (node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {


                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        if (childNode.NodeTypeAlias == "locationDetailPage")
                                                        {
                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                            {
                                                                PageTitle = ChildNode.Name;
                                                                <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                            }

                                                        }


                                                    }
                                                </ul>
                                            }
                                        }
                                        else if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {
                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                        if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                        {
                                                            PageTitle = ChildNode.Name;
                                                            <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                        }
                                                    }
                                                </ul>
                                            }

                                        }


                                    }
                                    PageTitle = "";
                                }
                            }
                        </div>
                        <div class="center-section">
                            @if (Model.Content.HasValue("leftNavigation"))
                            {
                                foreach (var node in LeftNavigation)
                                {


                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;
                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@CurrentNode.Name</a></h4>

                                        if (node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {


                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        if (childNode.NodeTypeAlias == "locationDetailPage")
                                                        {
                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                            {
                                                                PageTitle = ChildNode.Name;
                                                                <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                            }

                                                        }


                                                    }
                                                </ul>
                                            }
                                        }
                                        else if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {
                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                        if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                        {
                                                            PageTitle = ChildNode.Name;
                                                            <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                        }
                                                    }
                                                </ul>
                                            }

                                        }


                                    }
                                    PageTitle = "";
                                }
                            }
                        </div>
                        <div class="right-section">
                            @if (Model.Content.HasValue("leftNavigation"))
                            {
                                foreach (var node in LeftNavigation)
                                {


                                    var CurrentNode = new DynamicNode().NodeById(node);
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;
                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@CurrentNode.Name</a></h4>

                                        if (node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {


                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        if (childNode.NodeTypeAlias == "locationDetailPage")
                                                        {
                                                            var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                            if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                            {
                                                                PageTitle = ChildNode.Name;
                                                                <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                            }

                                                        }


                                                    }
                                                </ul>
                                            }
                                        }
                                        else if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine")
                                        {
                                            if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where("hideFromSitemap == False").Count() > 0)
                                            {
                                                <ul>
                                                    @foreach (var childNode in CurrentNode.Children)
                                                    {
                                                        var ChildNode = new DynamicNode().NodeById(childNode.Id);

                                                        if (childNode.GetProperty<bool>("hideFromSitemap") != true)
                                                        {
                                                            PageTitle = ChildNode.Name;
                                                            <li><a class="hvr-underline-from-center" href="@ChildNode.Url">@ChildNode.Name</a></li>
                                                        }
                                                    }
                                                </ul>
                                            }

                                        }


                                    }
                                    PageTitle = "";
                                }
                            }
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>
