@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using umbraco.MacroEngines
@using Newtonsoft.Json
@using RJP.MultiUrlPicker.Models
@using umbraco.NodeFactory
@using ContentModels = Umbraco.Web.PublishedContentModels
@using umbraco.cms.businesslogic.web
@using Umbraco.Web.Extensions
@using System.Linq
@using System.Web.Script.Serialization;
@{
    Layout = "Master.cshtml";
    var PageTitle = "";
    var title = Model.Content.GetPropertyValue<string>("title");
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var LeftNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("leftNavigation");
    var MiddleNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("middleNavigation");
    var RightNavigation = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("rightNavigation");
}
@section BackgroundImage {
    @if (heroImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@heroImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<section class="heroBanner"></section>
<section class="heroBlock" id="sliders-container">
    <div class="containerWrapper">
        <div class="bgWrap clientServiceNeed">
            <section class="sitemap-section">
                @if (!string.IsNullOrEmpty(title))
                {
                    <h2 style="text-align:center">@title</h2><br />
                }
                <div class="sitemap-section-box">
                    <div class="full-width">
                        <div class="left-section">
                            @if (Model.Content.HasValue("leftNavigation"))
                            {
                                foreach (var node in LeftNavigation)
                                {

                                    //var tittle = CurrentNode.Name;
                                    var CurrentNode = node;
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;

                                        if(CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetPropertyValue<string>("title");
                                        }

                                        if (CurrentNode.DocumentTypeAlias == "categoryDetailPage" || CurrentNode.DocumentTypeAlias == "home" || CurrentNode.DocumentTypeAlias == "mediaCenterLandingPage" || CurrentNode.DocumentTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasValue("siteTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasValue("mediacenterTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasValue("productDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("productDetailTitle");
                                            }
                                        }

                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.DocumentTypeAlias == "categoryDetailPage")
                                                            {
                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = childNode.Name;

                                                                    if (childNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                    }

                                                                    if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (childNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                        }

                                                                        if (childNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                        }
                                                                        if (childNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                        }
                                                                        if (childNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = childNode;

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetPropertyValue<string>("title");
                                                                                        }

                                                                                        if (third.DocumentTypeAlias == "categoryDetailPage" || third.DocumentTypeAlias == "home" || third.DocumentTypeAlias == "mediaCenterLandingPage" || third.DocumentTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                }

                                                                            }
                                                                            else
                                                                            {

                                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                {
                                                                                    PageTitle = childNode.Name;

                                                                                    if (childNode.HasValue("title"))
                                                                                    {
                                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                    }
                                                                                    <li>
                                                                                        <h5>
                                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                                        </h5>
                                                                                    </li>
                                                                                    }
                                                                                }


                                                                            }
                                                    </ul>
                                                                                }
                                                                                else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {

                                                                                            if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = childNode.Name;

                                                                                                if (childNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                                }

                                                                                                if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (childNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (childNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = childNode.Name;

                                                                                                if (childNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                                }

                                                                                                if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (childNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (childNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                        <div class="center-section">
                            @if (Model.Content.HasValue("middleNavigation"))
                            {
                                foreach (var node in MiddleNavigation)
                                {


                                    var CurrentNode = node;
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {

                                        PageTitle = CurrentNode.Name;

                                        if (CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetPropertyValue<string>("title");
                                        }
                                        if (CurrentNode.DocumentTypeAlias == "categoryDetailPage" || CurrentNode.DocumentTypeAlias == "home" || CurrentNode.DocumentTypeAlias == "mediaCenterLandingPage" || CurrentNode.DocumentTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasValue("siteTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasValue("mediacenterTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasValue("productDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("productDetailTitle");
                                            }
                                        }

                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.DocumentTypeAlias == "categoryDetailPage")
                                                            {

                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = childNode.Name;
                                                                    
                                                                    if (childNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                    }

                                                                    if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (childNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                        }

                                                                        if (childNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                        }
                                                                        if (childNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                        }
                                                                        if (childNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = childNode;

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetPropertyValue<string>("title");
                                                                                        }

                                                                                        if (third.DocumentTypeAlias == "categoryDetailPage" || third.DocumentTypeAlias == "home" || third.DocumentTypeAlias == "mediaCenterLandingPage" || third.DocumentTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                }

                                                                            }
                                                                            else
                                                                            {
                                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                {
                                                                                    PageTitle = childNode.Name;

                                                                                    if (childNode.HasValue("title"))
                                                                                    {
                                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                    }
                                                                                    <li>
                                                                                        <h5>
                                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                                        </h5>
                                                                                        </li>
                                                                                        }
                                                                                        }



                                                                                        }
</ul>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = childNode.Name;

                                                                                                if (childNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                                }

                                                                                                if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (childNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (childNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                        <div class="right-section">
                            @if (Model.Content.HasValue("rightNavigation"))
                            {
                                foreach (var node in RightNavigation)
                                {


                                    var CurrentNode = node;
                                    var CurrentNodehideFromSitemap = Umbraco.TypedContent(CurrentNode.Id);
                                    if (!string.IsNullOrEmpty(CurrentNode.Name))
                                    {
                                        PageTitle = CurrentNode.Name;

                                        if (CurrentNode.HasValue("title"))
                                        {
                                            PageTitle = CurrentNode.GetPropertyValue<string>("title");
                                        }
                                        if (CurrentNode.DocumentTypeAlias == "categoryDetailPage" || CurrentNode.DocumentTypeAlias == "home" || CurrentNode.DocumentTypeAlias == "mediaCenterLandingPage" || CurrentNode.DocumentTypeAlias == "productDetailPage")
                                        {
                                            if (CurrentNode.HasValue("categoryDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("categoryDetailTitle");
                                            }

                                            if (CurrentNode.HasValue("siteTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("siteTitle");
                                            }
                                            if (CurrentNode.HasValue("mediacenterTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("mediacenterTitle");
                                            }
                                            if (CurrentNode.HasValue("productDetailTitle"))
                                            {
                                                PageTitle = CurrentNode.GetPropertyValue<string>("productDetailTitle");
                                            }
                                        }
                                        <h4><a class="hvr-underline-from-center" href="@CurrentNode.Url">@PageTitle</a></h4>


                                        if (node.DocumentTypeAlias != "aboutUs" && node.DocumentTypeAlias != "mediaCenterLandingPage" && node.DocumentTypeAlias != "careersLandingPage" && node.DocumentTypeAlias != "timeLine" && node.DocumentTypeAlias != "locationLandingPage")
                                        {
                                            if (node.DocumentTypeAlias == "categoryLandingPage")
                                            {
                                                if (CurrentNode.Children.Count() > 0 && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                {


                                                    <ul>
                                                        @foreach (var childNode in CurrentNode.Children)
                                                        {
                                                            if (childNode.DocumentTypeAlias == "categoryDetailPage")
                                                            {
                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                {
                                                                    PageTitle = childNode.Name;

                                                                    if (childNode.HasValue("title"))
                                                                    {
                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                    }

                                                                    if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                    {
                                                                        if (childNode.HasValue("categoryDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                        }

                                                                        if (childNode.HasValue("siteTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                        }
                                                                        if (childNode.HasValue("mediacenterTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                        }
                                                                        if (childNode.HasValue("productDetailTitle"))
                                                                        {
                                                                            PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                        }
                                                                    }


                                                                    <li>
                                                                        <h5>
                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                        </h5>
                                                                        @{
                                                                            var thirdlevel = childNode;

                                                                            if (thirdlevel.Children.Count() > 0)
                                                                            {
                                                                                <ul>
                                                                                    @foreach (var third in thirdlevel.Children)
                                                                                    {
                                                                                        PageTitle = third.Name;

                                                                                        if (third.HasValue("title"))
                                                                                        {
                                                                                            PageTitle = third.GetPropertyValue<string>("title");
                                                                                        }

                                                                                        if (third.DocumentTypeAlias == "categoryDetailPage" || third.DocumentTypeAlias == "home" || third.DocumentTypeAlias == "mediaCenterLandingPage" || third.DocumentTypeAlias == "productDetailPage")
                                                                                        {
                                                                                            if (third.HasValue("categoryDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("categoryDetailTitle");
                                                                                            }

                                                                                            if (third.HasValue("siteTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("siteTitle");
                                                                                            }
                                                                                            if (third.HasValue("mediacenterTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("mediacenterTitle");
                                                                                            }
                                                                                            if (third.HasValue("productDetailTitle"))
                                                                                            {
                                                                                                PageTitle = third.GetPropertyValue<string>("productDetailTitle");
                                                                                            }
                                                                                        }
                                                                                        <li><a class="hvr-underline-from-center" href="@third.Url">@PageTitle</a></li>
                                                                                    }
                                                                                </ul>
                                                                            }

                                                                        }

                                                                    </li>
                                                                                }

                                                                            }
                                                                            else
                                                                            {
                                                                                if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                {
                                                                                    PageTitle = childNode.Name;

                                                                                    if (childNode.HasValue("title"))
                                                                                    {
                                                                                        PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                    }
                                                                                    <li>
                                                                                        <h5>
                                                                                            <a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a>
                                                                                        </h5>
                                                                                    </li>
                                                                                    }
                                                                                }


                                                                            }
                                                    </ul>
                                                                                }
                                                                            }
                                                                            else
                                                                            {
                                                                                if (CurrentNode.Children.Any() && CurrentNodehideFromSitemap.Children.Where(x => x.GetPropertyValue<bool>("hideFromSitemap") == false).Count() > 0)
                                                                                {
                                                                                    <ul>
                                                                                        @foreach (var childNode in CurrentNode.Children)
                                                                                        {
                                                                                            if (childNode.GetPropertyValue<bool>("hideFromSitemap") != true)
                                                                                            {
                                                                                                PageTitle = childNode.Name;

                                                                                                if (childNode.HasValue("title"))
                                                                                                {
                                                                                                    PageTitle = childNode.GetPropertyValue<string>("title");
                                                                                                }

                                                                                                if (childNode.DocumentTypeAlias == "categoryDetailPage" || childNode.DocumentTypeAlias == "home" || childNode.DocumentTypeAlias == "mediaCenterLandingPage" || childNode.DocumentTypeAlias == "productDetailPage")
                                                                                                {
                                                                                                    if (childNode.HasValue("categoryDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("categoryDetailTitle");
                                                                                                    }

                                                                                                    if (childNode.HasValue("siteTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("siteTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("mediacenterTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("mediacenterTitle");
                                                                                                    }
                                                                                                    if (childNode.HasValue("productDetailTitle"))
                                                                                                    {
                                                                                                        PageTitle = childNode.GetPropertyValue<string>("productDetailTitle");
                                                                                                    }
                                                                                                }
                                                                                                <li><h5><a class="hvr-underline-from-center" href="@childNode.Url">@PageTitle</a></h5></li>
                                                                                            }
                                                                                        }
                                                                                    </ul>
                                                                                                }
                                                                                            }


                                                                                        }


                                                                                    }
                                                                                    PageTitle = "";
                                                                                }
                                                                            }
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</section>
