@using ClientDependency.Core.Mvc
@using ManasquanBank.Web.Controllers
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using System.Web.Script.Serialization;
@using System.Text.RegularExpressions
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using RJP.MultiUrlPicker.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var introText = Model.Content.GetPropertyValue<string>("introText");
    var siteTitle = Model.Content.GetPropertyValue<string>("siteTitle");
    SocialFeedController t = new SocialFeedController();
    var twitterFeeds = t.GetTwitterTimeline();
    var jArray = JArray.Parse(twitterFeeds);
    var facebookFeed = t.GetFacebookFeed_next();
    var fbArray = JsonConvert.DeserializeObject(facebookFeed);
}

<div class="socialMedia">
    <section class="heroBanner">
        <figure class="bannerImage" style="background-image: url('@heroImage.Url')"></figure>
    </section>
    <section class="heroBlock">
        <div class="containerWrapper">
            <div class="bgWrap">
                @if (!string.IsNullOrEmpty(siteTitle))
                {
                    <h2>@siteTitle</h2>
                }
                @if (!string.IsNullOrEmpty(introText))
                {
                    @Html.Raw(introText)
                }
                
                <ul id="masFilter">
                    <li class="active" data-filter="all">All</li>
                    <li data-filter="fb">Facebook</li>
                    <li data-filter="tw">Twitter</li>
                    <li data-filter="yt">Youtube</li>
                    <li data-filter="ig">Instagram</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="socialPanel">
        <div class="containerWrapper">
            <div class="bgWrap">
                <div class="filtr-container">
@if (jArray.Count > 0)
{
    int i = 0;
    foreach (dynamic tweetlist in jArray)
    {
        var date = tweetlist.created_at.ToString("hh:mm , dd MMM yyyy");
        string msg = tweetlist.text.ToString();
        string text = t.ReplaceHashTagsAndUsernamesWithUrls(msg).ToString();
        foreach (var url in tweetlist.entities.urls)
        {
            string link = url.url.ToString();
            string newtab = "true";
            text = t.ReplaceFlatUrlWithHTMLUrl(text, link, newtab);

        }
        if (i < 10)
        {
        <div class="filtr-item" data-category="tw">
            <div class="flexPanelWrap">
                <div class="flexPanelHead">
                    <div class="headLogo">
                        <figure>
                            <a href="https://twitter.com/@tweetlist.user.screen_name" target="_blank">
                                <img src="~/images/header/logo_fav.jpg" alt="Manasquan Bank">
                            </a>
                        </figure>
                        <h5><a href="https://twitter.com/@tweetlist.user.screen_name" target="_blank">Manasquan Bank</a></h5>
                    </div>
                    <div class="headDate">
                        <span>2d</span>
                    </div>
                </div>
                <div class="flexPanelBody">
                    @if (tweetlist.extended_entities != null)
                    {

                        foreach (dynamic media in tweetlist.extended_entities["media"])
                        {

                            <figure>
                                <a href="@media.url" target="_blank"><img src="@media.media_url" alt="@tweetlist.text" /></a>
                            </figure>

                        }

                    }
                    
                    <p>@Html.Raw(text)</p>
                </div>
                <div class="flexPanelFoot">
                    <div class="flexIcon">
                        <figure>
                            <a href="https://twitter.com/@tweetlist.user.screen_name" target="_blank">
                                <img src="~/images/social/twitter.png" alt="Twitter">
                                </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        }
        i++;
    }
}

@if (fbArray.data.Count > 0)
{
    int i = 0;
    foreach (dynamic fblist in fbArray.data)
    {
        var message = fblist.message;
        var picture = fblist.full_picture;
        var link = fblist.link;
        var profile_url = fblist.from.id;

        <div class="filtr-item" data-category="fb">
            <div class="flexPanelWrap">
                <div class="flexPanelHead">
                    <div class="headLogo">
                        <figure>
                            <a href="//www.facebook.com/@profile_url"><img src="~/images/header/logo_fav.jpg" alt="Manasquan Bank"></a>
</figure>
                        <h5><a href="//www.facebook.com/@profile_url">Manasquan Bank </a></h5>
                    </div>
                    <div class="headDate">
                        <span>2d</span>
                    </div>
                </div>
                <div class="flexPanelBody">
                    @if (picture != null)
                    {
                        <figure>
                            <a href="@link" target="_blank"><img src="@picture" alt="@message"></a>
                        </figure>
                    }
                    
                    <p>@message</p>
                </div>
                <div class="flexPanelFoot">
                    <div class="flexIcon">
                        <figure>
                            <a href="//www.facebook.com/@profile_url"> <img src="~/images/social/facebook.png" alt="Twitter"></a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    }
}
<!--
                    <div class="filtr-item" data-category="fb">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5><a href="#">Manasquan Bank </a></h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-1.png" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum <a href="">http://www.asdasd.com</a> nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <a href="#"> <img src="images/social/twitter.png" alt="Twitter"></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="filtr-item" data-category="tw">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <a href=""><img src="images/social/social-2.png" alt="Social Image"></a>
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/facebook.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="yt">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-3.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/twitter.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="ig">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-4.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/facebook.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="fb">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-5.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/twitter.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="tw">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/twitter.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="ig">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-6.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/twitter.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="yt">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-7.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/facebook.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="fb">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-8.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/twitter.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filtr-item" data-category="yt">
                        <div class="flexPanelWrap">
                            <div class="flexPanelHead">
                                <div class="headLogo">
                                    <figure>
                                        <img src="images/header/logo_fav.jpg" alt="Logo Image">
                                    </figure>
                                    <h5>Manasquan Bank</h5>
                                </div>
                                <div class="headDate">
                                    <span>2d</span>
                                </div>
                            </div>
                            <div class="flexPanelBody">
                                <figure>
                                    <img src="images/social/social-9.jpg" alt="Social Image">
                                </figure>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean viverra leo eu porttitor tristique. Etiam pretium quam rutrum nisi placerat malesuada. Nulla facilisi.</p>
                            </div>
                            <div class="flexPanelFoot">
                                <div class="flexIcon">
                                    <figure>
                                        <img src="images/social/facebook.png" alt="Twitter">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
    -->
                </div>
            </div>
        </div>
    </section>
</div>

@section InnerBottomScript {
<script type='text/javascript' src='~/scripts/lib/jquery.filterizr.min.js'></script>
<script>
      $(window).on("load",function(e){
            // Default options
        var options = {
           animationDuration: 0.5, // in seconds
           filter: 'all', // Initial filter
           delay: 25, // Transition delay in ms
           delayMode: 'progressive', // 'progressive' or 'alternate'
           easing: 'ease-out',
           filterOutCss: { // Filtering out animation
              opacity: 0,
              transform: 'scale(0.5)'
           },
           filterInCss: { // Filtering in animation
              opacity: 1,
              transform: 'scale(1)'
           },
           layout: 'sameWidth', // See layouts
           selector: '.filtr-container',
        }
        // You can override any of these options and then call...
        var filterizd = $('.filtr-container').filterizr(options);
        // If you have already instantiated your Filterizr then call...
        filterizd.filterizr('setOptions', options);

});

$(document).ready(function(){
    $("#masFilter li").click(function(){
        $("#masFilter li").removeClass("active");
        $(this).addClass("active");
    });
});

</script>
}