@using Umbraco.Core.Logging
@using umbraco.MacroEngines
@using RJP.MultiUrlPicker.Models
@using Newtonsoft.Json
@using Umbraco.Web.Extensions
@using System.Linq
@using ManasquanBank.Web.Models;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ClientDependency.Core.Mvc
@{
    Layout = "Master.cshtml";
    Html.RequiresCss("~/css/lib/jquery-ui.css", 6);
    Html.RequiresJs("~/scripts/lib/jquery-ui.js", 8);
    var timelinetitle = Model.Content.GetPropertyValue<string>("siteTitle");
    var heroImage = Model.Content.GetPropertyValue<IPublishedContent>("heroImage");
    var timelineListing = Model.Content.Children.Where("Visible");
    int currentYear = Convert.ToInt32(DateTime.Now.ToString("yyyy"));
    int startYear, endYear;
    var flag = false;
    List<IPublishedContent> timelineDetails;

    var YearList = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("timelineTab");

}
@section BackgroundImage {
    @if (heroImage != null)
    {
        <div class="fixedBg fade out" style="background-image: url('@heroImage.Url')">
            @*<img src="images/body_bg.jpg" alt="">*@
        </div>
    }
}
<section class="heroBanner">
</section>
<section class="heroBlock timelinePannelwrap" id="sliders-container">
    <div class="containerWrapper">
        <div class="bgWrap">
            @if (!string.IsNullOrEmpty(timelinetitle))
            {
                <h2>@timelinetitle</h2>
            }
            <div class="timelineWrappers">
                <div class="timelineWrapper">
                    <div class="decade-wrapper" id="decade-wrapper">
                        @if (YearList != null)
                        {
                            int i = 0;
                            int j = 0;
                            <ul class="tabs">
                                @foreach (var item in YearList)
                                {
                                    var startyear = item.GetPropertyValue<string>("startYear");
                                    var endyear = item.GetPropertyValue<string>("startYear");
                                    var title = item.GetPropertyValue<string>("timelineTitle");

                                    int start = Convert.ToInt32(startyear);

                                    if (i == 0)
                                    {
                                        <li>
                                            <a href="#@start" data-id="@start" class="time_@start active">@title</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#@start" data-id="@start" class="time_@start">@title</a>
                                        </li>
                                    }

                                    i++;

                                }
                            </ul>
<select class="decade-year-dropdown" title="Year List" id="timeline_dropdown">
                             @foreach (var item in YearList)
                                {
                                    var startyear = item.GetPropertyValue<string>("startYear");
                                    var endyear = item.GetPropertyValue<string>("startYear");
                                    var title = item.GetPropertyValue<string>("timelineTitle");

                                    int start = Convert.ToInt32(startyear);

                                    if (j == 0)
                                    {
                                        <option value="@start" selected>@title</option>
                                    }
                                    else
                                    {
                                        <option value="@start">@title</option>
                                    }
                                }
                            </select>

                        }
                    </div>

                    <div class="timeline-wrapper">
                        @{

                            if (YearList != null)
                            {
                                int k = 0;
                                foreach (var item in YearList)
                                {

                                    var start = item.GetPropertyValue<string>("startYear");
                                    var end = item.GetPropertyValue<string>("endYear");
                                    var title = item.GetPropertyValue<string>("timelineTitle");

                                    startYear = Convert.ToInt32(start);
                                    endYear = Convert.ToInt32(end); ;

                                    timelineDetails = timelineListing.DescendantsOrSelf("timelineItems").Where(x => x.HasValue("filterDate") && int.Parse(x.GetPropertyValue<DateTime>("filterDate").ToString("yyyy")) >= startYear && int.Parse(x.GetPropertyValue<DateTime>("filterDate").ToString("yyyy")) <= endYear).OrderBy(x => Convert.ToDateTime(x.GetPropertyValue<string>("filterDate"))).ToList();

                                    flag = false;

                                    if (k == 0)
                                    {
                                        if (timelineDetails != null)
                                        {
                                            <ul class="timeline invert-order active" id="@startYear">
                                                @foreach (var timelineDetail in timelineDetails)
                                                {
                                                    var headline = timelineDetail.GetPropertyValue<string>("headlineText");
                                                    var image = timelineDetail.GetPropertyValue<IPublishedContent>("image");
                                                    var bodyText = timelineDetail.GetPropertyValue<string>("bodyText");

                                                    if (flag == false)
                                                    {
                                                        <li class="timeline-inverted">
                                                            <div class="timeline-badge primary">
                                                                <a>
                                                                    <i class="timelineWrapper invert"></i>
                                                                </a>
                                                            </div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }

                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }
                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        flag = true;
                                                    }
                                                    else if (flag == true)
                                                    {
                                                        <li>
                                                            <div class="timeline-badge primary">
                                                                <a>
                                                                    <i class="timelineWrapper" rel="tooltip" title="11 hours ago via Twitter"></i>
                                                                </a>
                                                            </div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }

                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }
                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </li>

                                                        flag = false;
                                                    }
                                                }

                                                <li class="clearfix" style="float: none;"></li>
                                            </ul>
                                        }

                                    }
                                    else
                                    {
                                        if (timelineDetails != null)
                                        {
                                            <ul class="timeline invert-order" id="@startYear">
                                                @foreach (var timelineDetail in timelineDetails)
                                                {
                                                    var headline = timelineDetail.GetPropertyValue<string>("headlineText");
                                                    var image = timelineDetail.GetPropertyValue<IPublishedContent>("image");
                                                    var bodyText = timelineDetail.GetPropertyValue<string>("bodyText");

                                                    if (flag == false)
                                                    {
                                                        <li class="timeline-inverted">
                                                            <div class="timeline-badge primary">
                                                                <a>
                                                                    <i class="timelineWrapper invert"></i>
                                                                </a>
                                                            </div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }

                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }
                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        flag = true;
                                                    }
                                                    else if (flag == true)
                                                    {
                                                        <li>
                                                            <div class="timeline-badge primary">
                                                                <a>
                                                                    <i class="timelineWrapper" rel="tooltip" title="11 hours ago via Twitter"></i>
                                                                </a>
                                                            </div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }

                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }
                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </li>

                                                        flag = false;
                                                    }
                                                }

                                                <li class="clearfix" style="float: none;"></li>
                                            </ul>

                                            <ul class="timeline flex-order" id="@startYear _flex">
                                                @foreach (var timelineDetail in timelineDetails)
                                                {
                                                    var headline = timelineDetail.GetPropertyValue<string>("headlineText");
                                                    var image = timelineDetail.GetPropertyValue<IPublishedContent>("image");
                                                    var bodyText = timelineDetail.GetPropertyValue<string>("bodyText");

                                                    if (flag == false)
                                                    {
                                                        <li class="timeline-inverted">
                                                            <div class="timeline-badge primary">
                                                                <a>
                                                                    <i class="timelineWrapper" rel="tooltip" title="11 hours ago via Twitter"></i>
                                                                </a>
                                                            </div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }
                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }

                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        flag = true;
                                                    }
                                                    else if (flag == true)
                                                    {
                                                        <li>
                                                            <div class="timeline-badge primary"><a><i class="timelineWrapper invert"></i><span class="screen-reader-text">Timeline Badge</span></a></div>
                                                            <div class="timeline-panel is-hidden">
                                                                <div class="timeline-heading">
                                                                    @if (image != null)
                                                                    {
                                                                        <img class="img-responsive" src="@image.Url" alt="@headline"/>
                                                                    }
                                                                </div>
                                                                <div class="timeline-body">
                                                                    @if (!string.IsNullOrEmpty(headline))
                                                                    {
                                                                        <p class="date">@headline</p>
                                                                    }

                                                                    <div class="contentBlock">
                                                                        @if (!string.IsNullOrEmpty(bodyText))
                                                                        {
                                                                            @Html.Raw(bodyText)
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>

                                                        flag = false;
                                                    }
                                                }
                                                <li class="clearfix" style="float: none;"></li>
                                            </ul>



                                        }

                                    }

                                    k++;


                                }

                            }
                        }

                    </div>

                    <div class="decade-wrapper decade-wrapper2" id="decade-wrapper">
                        @if (YearList != null)
                        {
                            int i = 0;
                            int j = 0;
                            <ul class="tabs">
                                @foreach (var item in YearList)
                                {
                                    var startyear = item.GetPropertyValue<string>("startYear");
                                    var endyear = item.GetPropertyValue<string>("startYear");
                                    var title = item.GetPropertyValue<string>("timelineTitle");

                                    int start = Convert.ToInt32(startyear);

                                    if (i == 0)
                                    {
                                        <li>
                                            <a href="#@start" data-id="@start" class="time_@start active">@title</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="#@start" data-id="@start" class="time_@start">@title</a>
                                        </li>
                                    }

                                    i++;

                                }
                            </ul>
                            <select class="decade-year-dropdown" title="Year List" id="timeline_dropdown">
                                @foreach (var item in YearList)
                                {
                                    var startyear = item.GetPropertyValue<string>("startYear");
                                    var endyear = item.GetPropertyValue<string>("startYear");
                                    var title = item.GetPropertyValue<string>("timelineTitle");

                                    int start = Convert.ToInt32(startyear);

                                    if (j == 0)
                                    {
                                        <option value="@start" selected>@title</option>
                                    }
                                    else
                                    {
                                        <option value="@start">@title</option>
                                    }
                                }
                            </select>

                        }
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
