@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using RJP.MultiUrlPicker.Models;
@using Skybrud.Social.Twitter;
@using Skybrud.Social.Twitter.OAuth;
@using Skybrud.Social.Twitter.Responses;
@using ManasquanBank.Web.Models;
@{
    var footerLogo = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("footerLogo");
    var mobileIconsApple = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("mobileIconsApple");
    var mobileIconAppleIconLink = Model.Content.AncestorOrSelf(1).GetPropertyValue<Link>("mobileIconAppleIconLink");
    var mobileIconsAndroid = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("mobileIconsAndroid");
    var mobileIconAndroidLink = Model.Content.AncestorOrSelf(1).GetPropertyValue<Link>("mobileIconAndroidLink");
    var brandDescription = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("brandDescription");
    var address = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("address");
    var phoneNumber = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("phoneNumber");
    var routingNumber = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("routingNumber");
    var bankCopyrightText = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("bankCopyrightText");
    var primaryFooter = Model.Content.AncestorOrSelf(1).GetPropertyValue<MultiUrls>("primaryFooter");
    var copyTextLink = Model.Content.AncestorOrSelf(1).GetPropertyValue<MultiUrls>("copyTextLink");
    var linkedIn = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("linkedIn");
    var facebook = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("facebook");
    var youtube = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("youtube");
    var twitter = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("twitter");
    var thankYouMessageJoin = Model.Content.AncestorOrSelf(1).GetProperty("newsLetterThankYouMessage").HasValue ? Model.Content.AncestorOrSelf(1).GetProperty("newsLetterThankYouMessage").Value : "";

    var newsLetterAdminEmail = Model.Content.AncestorOrSelf(1).HasValue("newsLetterAdminEmail") ? Model.Content.AncestorOrSelf(1).GetPropertyValue<int>("newsLetterAdminEmail") : 0;
    var newsLetterConfirmationEmail = Model.Content.AncestorOrSelf(1).HasValue("newsLetterConfirmationEmail") ? Model.Content.AncestorOrSelf(1).GetPropertyValue<int>("newsLetterConfirmationEmail") : 0;
}



<section class="joinEmail">
    <div class="containerWrapper">
        @if (String.IsNullOrEmpty(ViewBag.JoinErrorMessage) == false)
        {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @ViewBag.JoinErrorMessage
        </div>
        }
         <h2>
            JOIN OUR<br />
            EMAIL LIST
        </h2>
        @using (Html.BeginUmbracoForm("SubmitForm", "NewsLetter", FormMethod.Post, new { id = "joinemailForm", @class = "joinemailForm wpcf7-form" }))
        {

            if (String.IsNullOrEmpty(ViewBag.JoinSuccessMessage) == false)
            {
                if (!string.IsNullOrEmpty(thankYouMessageJoin.ToString()))
                {
                    <div id="joinSuccess">
                        <h4>@Html.Raw(thankYouMessageJoin)</h4>
                    </div>
                }
                else
                {
                    <div id="joinSuccess">
                        <h4>@ViewBag.JoinSuccessMessage</h4>
                    </div>
                }

            }
            else
            {



                string secretKey = @System.Configuration.ConfigurationManager.AppSettings["recaptchaPrivateKey"];
                string publicKey = @System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"];






            <div>
            <span class="wpcf7-form"></span>
                <label>
                    First Name
                </label>
                <input type="text" name="newsLetterFirstName" value="" id="newsLetterFirstName" class="txtBox" required>
            </div>
            <div>
                <label>
                    last Name
                </label>
                <input type="text" name="newsLetterLastName" value="" id="newsLetterLastName" class="txtBox" required>
            </div>
            <div>
                <label>
                    Email
                </label>
                <input type="text" name="newsLetteremail" value="" id="newsLetteremail" class="txtBox" required>
            </div>
            <div class="groupCheckbox">
                <div>
                    <label>
                        <span>Personal Banking</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Personal Banking" id="personalbanking" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Business Banking</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Business Banking" id="businessbanking" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Digital Services</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Digital Services" id="digitalservices" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Loans</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Loans" id="loans" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Work at Manasquan Bank</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Work at Manasquan Bank" id="work" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
                <div>
                    <label>
                        <span>Other</span>
                        <input type="checkbox" name="newsLetterCheckboxs" value="Other" id="other" class="chkBox">
                        <span class="checkbox"></span>
                    </label>
                </div>
            </div>
            <div class="captchaBlock">
                <div id="capt_join" class="g-recaptcha" data-sitekey="@publicKey" data-callback="onSubmitNews" data-size="invisible"></div>
                <p class="form2_error hide">The captcha is required and can't be empty.</p>

            </div>
            <div class="submit">
                <button><span><span>Join</span></span></button>
                <input type="hidden" id="adminEmail" name="NewsAdminEmail" value="@newsLetterAdminEmail" />
                <input type="hidden" id="confirmationEmail" name="NewsConfirmationEmail" value="@newsLetterConfirmationEmail" />
            </div>
            }
        }

    </div>
</section>


 <footer>
          <div class="containerWrapper">
            <div class="footerWraps">
              <div class="fMenu">
                <ul>
	                @if (primaryFooter.Count() > 0)
	                {
	                	foreach (var priFooter in primaryFooter)
	                    {
	                    	if (priFooter.Target == "_blank")
	                        {
	                            <li><a href="@priFooter.Url" target="_blank" title="@priFooter.Name">@priFooter.Name </a></li>
	                        }
	                        else
	                        {
	                            <li><a href="@priFooter.Url" title="@priFooter.Name">@priFooter.Name </a></li>
	                        }
	                    }
	                }
                </ul>
              </div>
              <div class="fCols">
                <figure>
                  <a href="/"><img src="@footerLogo.Url" alt="Manasquan Bank Footer Logo"></a>
                </figure>
                <div class="detailsWrap">
                 	@if (!string.IsNullOrEmpty(brandDescription))
	                {
	                    @Html.Raw(brandDescription)
	                }
                 	
	                <ul>
	                	@if (!string.IsNullOrEmpty(linkedIn))
		                {	
		                <li class="linkedIn"><a href="@linkedIn" target="_blank">LinkedIn</a></li>
		                }
		                @if (!string.IsNullOrEmpty(facebook))
		                {	
		                <li class="fb"><a href="@facebook" target="_blank">Facebook</a></li>
		                }
		                @if (!string.IsNullOrEmpty(youtube))
		                {	
		                <li class="uTube"><a href="@youtube" target="_blank">Youtube</a></li>
		                }
		                @if (!string.IsNullOrEmpty(twitter))
		                {	
		                <li class="tweet"><a href="@twitter" target="_blank">Tweeter</a></li>
		                }
	                </ul>
                </div>
              </div>
              <div class="fCols2">
              	@if (!string.IsNullOrEmpty(address))
                {	
                	<h3>Address:</h3>
                    @Html.Raw(address)
                }
                @if (!string.IsNullOrEmpty(phoneNumber))
                {	
                	<h3>Phone:</h3>
                    <p><a href="tel:@phoneNumber">@phoneNumber </a></p>
                }
                @if (!string.IsNullOrEmpty(routingNumber))
                {	
                	<h3>Routing Number:</h3>
                    <p>@routingNumber </p>
                }
              </div>
              <div class="fCols3">
                <figure>
                @if (mobileIconAppleIconLink != null)
                {
                    if (mobileIconAppleIconLink.Target == "_blank")
                    {
                        <a href="@mobileIconAppleIconLink.Url" target="_blank" title="@mobileIconAppleIconLink.Name" aria-label="@mobileIconAppleIconLink.Name"><img src="@mobileIconsApple.Url" alt="Mobile Icons Apple"></a>
                    }
                    else
                    {
                        <a href="@mobileIconAppleIconLink.Url" title="@mobileIconAppleIconLink.Name" aria-label="@mobileIconAppleIconLink.Name"><img src="@mobileIconsApple.Url" alt="Mobile Icons Apple"></a>
                    }

                }
                </figure>
                <figure>
                @if (mobileIconAndroidLink != null)
                {
                    if (mobileIconAndroidLink.Target == "_blank")
                    {
                        <a href="@mobileIconAndroidLink.Url" target="_blank" title="@mobileIconAndroidLink.Name" aria-label="@mobileIconAndroidLink.Name"><img src="@mobileIconsAndroid.Url" alt="Mobile Icons Android" /></a>
                    }
                    else
                    {
                        <a href="@mobileIconAndroidLink.Url" title="@mobileIconAndroidLink.Name" aria-label="@mobileIconAndroidLink.Name"><img src="@mobileIconsAndroid.Url" alt="Mobile Icons Android" /></a>
                    }

                }
                </figure>
                <div class="partnersBlock">
                  <a href="#" class="fdic">Member FDIC</a>
                  <a href="#" class="lender">Lender</a>
                </div>
              </div>
            </div>
          </div>
          <div class="fRow">
            <div class="containerWrapper">
              <ul>
                <li>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(bankCopyrightText.ToString()))</li>
                @if (copyTextLink.Count() > 0)
	            {
                	foreach (var copyText in copyTextLink)
                    {
                    	if (copyText.Target == "_blank")
                        {
                            <li class="fLink"><a href="@copyText.Url" target="_blank" title="@copyText.Name">@copyText.Name </a></li>
                        }
                        else
                        {
                            <li class="fLink"><a href="@copyText.Url" title="@copyText.Name">@copyText.Name </a></li>
                        }
                    }
	            }
                <li>
                  Site Designed and Developed by
                  <a href="https://www.multimediasolutions.com/" target="_blank">
                    Multimedia Solutions
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </footer>

