@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using RJP.MultiUrlPicker.Models;
@{
	
	var logo = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("siteLogo");
	var primaryNavigation = Model.Content.AncestorOrSelf(1).GetPropertyValue<IEnumerable<IPublishedContent>>("primaryNavigation");
	var secondaryNavigation = Model.Content.AncestorOrSelf(1).GetPropertyValue<IEnumerable<IPublishedContent>>("secondaryNavigation");
    var SearchKeyword = Request.QueryString["q"];
    string largeClass = string.Empty;
    int k = 0;

}
<header>
    <div class="containerWrapper">
        <div class="headerWrapper">
			<a href="/" class="logo">
				<img src="@logo.Url" alt="Manasquan Bank" />
			</a>
			<div class="searchloginWrap">
                <div class="mLogin">
                  <a href="#">Login</a>
                </div>
				<div class="mobileSearchwrap">
					<a href="#" class="hamburger"><span class="lines"></span></a>
					<div class="mobileSearch">
						<form class="" action="index.html" method="post">
							<input type="text" name="search" placeholder="Search" value="" class="txtBox">
							<span class="submit">
							<i></i>
							</span>
						</form>
					</div>
				</div>
			</div>
            <div class="menuWrapper">
                <div class="loginBlocks">
					<div class="personalLogin">
						<h3>Personal login </h3>
						<form class="" action="index.html" method="post">
							<input type="text" name="accessid" id="accessid" value="" class="txtBox" placeholder="Access ID">
							<input type="password" name="password" id="password" value="" class="txtBox" placeholder="Password">
							<button type="button" name="button"> <span>Login </span></button>
							<p>
							<a href="#">Sign Up </a>
							<a href="#">Forgot Password </a>
							</p>
						</form>
					</div>
					<div class="businessLogin">
						<h3>Business login </h3>
						<form class="" action="index.html" method="post">
							<input type="text" name="accessid" id="accessid" value="" class="txtBox" placeholder="Access ID">
							<input type="password" name="password" id="password" value="" class="txtBox" placeholder="Password">
							<button type="button" name="button"> <span>Login </span></button>
							<p>
							<a href="#">Forgot Password </a>
							</p>
						</form>
					</div>
                </div>
				<div class="headerNav">
					<div class="topNav">
						<ul>
							@if (Model.Content.AncestorOrSelf(1).HasValue("secondaryNavigation"))
	                        {
	                            foreach (var secondNav in secondaryNavigation)
	                            {
	                                var secondaryLink = secondNav.GetPropertyValue<Link>("secondaryLink");
	                                var secondaryTitle = secondNav.GetPropertyValue<string>("secondaryTitle");
	                                var subMenu = secondNav.GetPropertyValue<IEnumerable<IPublishedContent>>("subMenu");
	                                var menuClass = "";
	                                if (subMenu != null)
                                    {
                                    	menuClass = "iWantto";
                                    }
									<li class="@menuClass">
	                                	@if (secondaryLink != null)
		                                {
		                                    if (secondaryLink.Target == "_blank")
		                                    {
		                                        <a href="@secondaryLink.Url" target="_blank" title="@secondaryLink.Name" aria-label="@secondaryLink.Name">@secondaryTitle </a>
		                                    }
		                                    else
		                                    {
		                                        <a href="@secondaryLink.Url" title="@secondaryLink.Name" aria-label="@secondaryLink.Name">@secondaryTitle </a>
		                                    }

		                                }
	                                	@if (subMenu != null)
                                    	{
											<ul class="subNav">
												@foreach (var sub in subMenu)
                                            	{
	                                                var submenuLink = sub.GetPropertyValue<Link>("submenuLink");
	                                                var submenuTitle = sub.GetPropertyValue<string>("submenuTitle");
	                                                <li>
		                                                @if (submenuLink != null)
	                                                    {
	                                                        if (submenuLink.Target == "_blank")
	                                                        {
	                                                            <a href="@submenuLink.Url" target="_blank" title="@submenuLink.Name" aria-label="@submenuLink.Name">@submenuTitle </a>
	                                                        }
	                                                        else
	                                                        {
	                                                            <a href="@submenuLink.Url" title="@submenuLink.Name" aria-label="@submenuLink.Name">@submenuTitle </a>
	                                                        }

	                                                    }
                                                    </li>
												
												}
											</ul>
										}
									</li>
	                            }
	                        }
						</ul>
					</div>
					<div class="mainNav">
						<ul>

							@if (Model.Content.AncestorOrSelf(1).HasValue("primaryNavigation"))
	                        {
	                            foreach (var primaryNav in primaryNavigation)
	                            {
	                                var primaryTitleLink = primaryNav.GetPropertyValue<Link>("primaryTitleLink");
	                                var primaryTitle = primaryNav.GetPropertyValue<string>("primaryTitle");
	                                var megaMenuPanel = primaryNav.GetPropertyValue<IEnumerable<IPublishedContent>>("megaMenuPanel");
	                            <li>
	                                @if (primaryTitleLink != null)
	                                {
	                                    if (primaryTitleLink.Target == "_blank")
	                                    {
	                                        <a href="@primaryTitleLink.Url" target="_blank" title="@primaryTitleLink.Name" aria-label="@primaryTitleLink.Name"><span>@Html.Raw(primaryTitle.Replace( " ", "</br>" )) </span></a>
	                                    }
	                                    else
	                                    {
	                                        <a href="@primaryTitleLink.Url" title="@primaryTitleLink.Name" aria-label="@primaryTitleLink.Name"><span>@Html.Raw(primaryTitle.Replace( " ", "</br>" )) </span></a>
	                                    }

	                                }
	                                
	                                @if (megaMenuPanel != null)
	                        		{
		                                <div class="SubmenuWrapper">
				                          	<div class="containerWrapper">
				                            	<div class="bgWrap">
				                              		<div class="borderLine">
						                                <i></i>
						                                <i></i>
						                                <i></i>
						                                <i></i>
				                              		</div>
					                              	<h2>@primaryTitle </h2>
	                              					<div class="flexBox">
	                              					
	                         						@foreach (var megamenu in megaMenuPanel)
                                            		{
                                            			if(k < 2){
                                            				largeClass = "extWidth";
                                            			}
                                            			else{
                                            				largeClass = string.Empty;
														}
														var megamenuTitle = megamenu.GetPropertyValue<string>("megamenuTitle");
														var subMenuLink = megamenu.GetPropertyValue<Link>("subMenuLink");
														var lastMenu = megamenu.GetPropertyValue<MultiUrls>("thirdLevelMenu");
					                        			
	                                					<div class="cols @largeClass">
	                                						@if (subMenuLink.Target == "_blank")
                                                            {
                                                                <h3>@subMenuLink.Name </h3>
                                                            }
                                                            else
                                                            {
                                                                <h3>@subMenuLink.Name </h3>
                                                            }
                                                            @if (lastMenu.Count() > 0)
                                                			{
															<ul>
                                                                @foreach (var thirdL in lastMenu)
                                                                {
                                                                    if (thirdL.Target == "_blank")
                                                                    {
                                                                        <li><a href="@thirdL.Url" target="_blank">@thirdL.Name</a></li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li><a href="@thirdL.Url">@thirdL.Name</a></li>
                                                                    }

                                                                }
                                                            </ul>
	                                                        }
							                              
	                                					</div>
	                                					k++;
	                                				}
	                                				</div>
	                            				</div>
	                          				</div>
	                        			</div>
                        			}
								</li>
	                            }
	                        }
							<li class="search">
								<form class="" action="index.html" method="post">
									<label class="screen-reader-text" for="search">Search </label>
									<input type="text" name="search" id="search" placeholder="Search" value="" class="txtBox">
									<span class="submit">
									<i></i>
									</span>
								</form>
							</li>
						</ul>
					</div>
                </div>

          	</div>
        </div>
	</div>

	<!-- Mobile Menu -->

	<div class="mnavWrapper">
            <div class="wraps">
              <div class="marginWrap">
                <ul>
                  <li>
                    <a href="#"  class="msubMenu">
                      Personal Banking
                    </a>
                    <ul class="inner" style="display: none;">
                      <li>
                        <a href="#"  class="msubMenu">
                          checking
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Basic Business Checking
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Premier Business Checking
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Business Now/Super Now Checking
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#"  class="msubMenu">
                          MERCHANT SERVICES
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Regular Savings
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Money Market Savings
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Certificate of Deposit (CD)
                            </a>
                          </li>
                        </ul>
                      </li>
                      <!--<li>
                        <a href="#"  class="msubMenu">
                          LENDING
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Commercial Real Estate
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Commercial Lines of Credit
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Commercial Term Loans
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Equipment Financing
                            </a>
                          </li>
                        </ul>
                      </li>-->
                      <li>
                        <a href="#"  class="msubMenu">
                          RATES
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Checking
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Savings
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Money Market
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Cash Management
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Lending
                            </a>
                          </li>
                        </ul>
                      </li>
                      <!--<li>
                        <a href="#"  class="msubMenu">
                          CASH MANAGEMENT
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Merchant Services
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Total Commercial Solutions
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Remote Deposit Capture
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Safe Deposit Box
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Night Depository
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Account Reconciliation
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Remote Wire Transfer
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Positive Pay
                            </a>
                          </li>
                        </ul>
                      </li>-->
                      <li>
                        <a href="#"  class="msubMenu">
                          SAVINGS
                        </a>
                        <ul class="inner" style="display: none;">
                          <li>
                            <a href="#">
                              Regular Savings
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Money Market Savings
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              Certificate od Deposit (CD)
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">
                          TOTAL COMMERCIAL
                          SOLUTIONS
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#" class="msubMenu">
                      Business Banking
                    </a>
                    <ul class="inner" style="display: none;">
                      <li>
                        <a href="#">
                          Submenu
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      Digital Center
                    </a>
                  </li>
                  <li class="mtopNav">
                    <a href="#" class="msubMenu">
                      I want to
                    </a>
                    <ul class="inner" style="display: none;">
                      <li>
                        <a href="#">Open an Account</a>
                      </li>
                      <li>
                        <a href="#">Check Rates</a>
                      </li>
                      <li>
                        <a href="#">Find Branch / ATM</a>
                      </li>
                      <li>
                        <a href="#">Report Lost or Stolen Card</a>
                      </li>
                      <li>
                        <a href="#">Make a Loan Payment</a>
                      </li>
                    </ul>
                  </li>
                  <li class="mtopNav">
                    <a href="#">
                      Media Center
                    </a>
                  </li>
                  <li class="mtopNav">
                    <a href="#">
                      Find a Branch
                    </a>
                  </li>
                  <li class="mtopNav">
                    <a href="#">
                      Contact Us
                    </a>
                  </li>
                  <li class="mtopNav">
                    <a href="#">
                      Careers
                    </a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
</header>
