@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using RJP.MultiUrlPicker.Models;
@{

    var logo = Model.Content.AncestorOrSelf(1).GetPropertyValue<IPublishedContent>("siteLogo");
    var primaryNavigation = Model.Content.AncestorOrSelf(1).GetPropertyValue<IEnumerable<IPublishedContent>>("primaryNavigation");
    var secondaryNavigation = Model.Content.AncestorOrSelf(1).GetPropertyValue<IEnumerable<IPublishedContent>>("secondaryNavigation");
    var SearchKeyword = Request.QueryString["q"];
    string largeClass = string.Empty;
    var alertPosition = Model.Content.AncestorOrSelf(1).GetPropertyValue<string>("alertPosition");
}
<header>
    <div class="containerWrapper">
        
        <div class="headerWrapper">
            @if (alertPosition == "Top")
            {
                @Html.Partial("AlertMessage")
            }
			<a href="/" class="logo">
				<img src="@logo.Url" alt="Manasquan Bank" />
			</a>
			<div class="searchloginWrap">
                <div class="mLogin">
                  <a href="javascript:void(0)">Login</a>
                </div>
				<div class="mobileSearchwrap">
					<a href="javascript:void(0)" class="hamburger"><span class="lines"><span class="screen-reader-text">Hamburger</span></span></a>
                    <div class="mobileSearch">
                        <span class="submit">
                            <i></i>
                        </span>
                    </div>
				</div>
			</div>
            <div class="mobileSearchfield">
                <form action="/search">
                    <label for="msearch" class="screen-reader-text ">Mobile Search</label>
                    <input type="text" title="search" id="msearch" name="q" value="@SearchKeyword" placeholder="Search" class="txtBox">
                </form>
            </div>
            <div class="menuWrapper">
                <div class="loginBlocks">

                    <div class="personalLogin">
                        <h3>PERSONAL BANKING</h3>
                        <form method="POST" action="https://web1.secureinternetbank.com/pbi_pbi1151/login/remote/221272167">
                            <label for="username" class="screen-reader-text ">access id</label>
                            <input type="text" name="username" id="username"  value="" class="txtBox" required="" title="Access ID" placeholder="Access ID" aria-required="true">
                            <label for="password" class="screen-reader-text ">access password</label>
                            <input type="password" name="password" id="password"  value="" class="txtBox" required="" title="Password" placeholder="Password" aria-required="true">
                            <button type="submit"> <span>Login</span></button>
                            <p>
                                <a class="link-text" href="https://web1.secureinternetbank.com/pbi_pbi1151/enroll/221272167" target="_blank">Sign Up</a>
                                <a class="link-text" href="https://web1.secureinternetbank.com/pbi_pbi1151/ForgotPassword/221272167" target="_blank">Forgot Password</a>

                            </p>
                        </form>
                    </div>

                    <div class="businessLogin">
                        <h3>BUSINESS BANKING</h3>
                        <form class="form-login" method="post" id="businessremote">
                            <label for="AccessID" class="screen-reader-text ">business access id</label>
                            <input type="text" name="AccessID" id="AccessID" value="" class="txtBox" required="" title="Access ID" aria-label="Access ID" placeholder="Access ID" aria-required="true">
                            <label for="business_password" class="screen-reader-text ">business access password</label>
                            <input type="password" name="business_password" id="business_password" value="" class="txtBox" required="" title="Password"  placeholder="Password" aria-required="true">
                            <button type="submit"> <span>Login</span></button>
                            <p>
                                <a href="#">Forgot Password</a>
                            </p>
                        </form>
                    </div>
                </div>
               <div class="headerNav">
					<div class="topNav">
						<ul>
							@if (Model.Content.AncestorOrSelf(1).HasValue("secondaryNavigation"))
	                        {
	                            foreach (var secondNav in secondaryNavigation)
	                            {
	                                var secondaryLink = secondNav.GetPropertyValue<Link>("secondaryLink");
	                                var secondaryTitle = secondNav.GetPropertyValue<string>("secondaryTitle");
	                                var subMenu = secondNav.GetPropertyValue<IEnumerable<IPublishedContent>>("subMenu");
	                                var menuClass = "";
	                                if (subMenu != null)
                                    {
                                    	menuClass = "iWantto";
                                    }
									<li class="@menuClass">
	                                	@if (secondaryLink != null)
		                                {
		                                    if (secondaryLink.Target == "_blank")
		                                    {
		                                        <a href="@secondaryLink.Url" target="_blank"  aria-label="@secondaryLink.Name">@secondaryTitle </a>
		                                    }
		                                    else
		                                    {
		                                        <a href="@secondaryLink.Url"  aria-label="@secondaryLink.Name">@secondaryTitle </a>
		                                    }

		                                }
	                                	@if (subMenu != null)
                                    	{
											<ul class="subNav">
												@foreach (var sub in subMenu)
                                            	{
	                                                var secondLevellink = sub.GetPropertyValue<Link>("secondLevellink");
	                                                var submenuTitle = sub.GetPropertyValue<string>("submenuTitle");
	                                                <li>
		                                                @if (secondLevellink != null)
	                                                    {
	                                                        if (secondLevellink.Target == "_blank")
	                                                        {
	                                                            <a href="@secondLevellink.Url" target="_blank"  aria-label="@secondLevellink.Name">@submenuTitle </a>
	                                                        }
	                                                        else
	                                                        {
	                                                            <a href="@secondLevellink.Url"  aria-label="@secondLevellink.Name">@submenuTitle </a>
	                                                        }

	                                                    }
                                                    </li>
												
												}
											</ul>
										}
									</li>
	                            }
	                        }
						</ul>
					</div>
					<div class="mainNav flatNav">
						<ul>

							@if (Model.Content.AncestorOrSelf(1).HasValue("primaryNavigation"))
                                        {
                                            int i = 1;
                                            foreach (var primaryNav in primaryNavigation)
                                            {
                                                var primaryTitleLink = primaryNav.GetPropertyValue<Link>("primaryTitleLink");
                                                var primaryTitle = primaryNav.GetPropertyValue<string>("primaryTitle");
                                                var megaMenuPanel = primaryNav.GetPropertyValue<IEnumerable<IPublishedContent>>("megaMenuPanel");
                                                int k = 0;

                                <li class="item-@i">
                                    @if (primaryTitleLink != null)
            
                                    {
                                                    if (primaryTitleLink.Target == "_blank")
                                                    {

                                            <a href="@primaryTitleLink.Url" target="_blank"  aria-label="@primaryTitleLink.Name"><span>@Html.Raw(primaryTitle.Replace( " ", "</br>" )) </span></a>
            
                                        }
                                                    else
                                                    {

                                            <a href="@primaryTitleLink.Url"  aria-label="@primaryTitleLink.Name"><span>@Html.Raw(primaryTitle.Replace( " ", "</br>" )) </span></a>
            
                                        }

                                                }

                                                @if (megaMenuPanel != null)
            
                                    {

                                        <div class="SubmenuWrapper">
				                          	<div class="containerWrapper">
				                            	<div class="bgWrap">
				                              		<div class="borderLine">
						                                <i></i>
						                                <i></i>
						                                <i></i>
						                                <i></i>
				                              		</div>
                                                    @if (primaryTitleLink != null)
                                    {
                                        if (primaryTitleLink.Target == "_blank")
                                        {
                                                            <h2>
                                                                <a href="@primaryTitleLink.Url" target="_blank">
                                                                    @primaryTitle

                                                                </a>
                                                            </h2>
                                                        }
                                        else
                                        {
                                                            <h2>
                                                                <a href="@primaryTitleLink.Url">
                                                                    @primaryTitle

                                                                </a>
                                                            </h2>
                                                        }
                                    }
                                                    else
                                                    {
                                                        <h2>@primaryTitle</h2>
                                }

	                              					<div class="flexBox">


                                                     @foreach (var megamenu in megaMenuPanel)
                                {
                                    if(k < 2){
                                        largeClass = string.Empty;
                                    }
                                    else{
                                        largeClass = string.Empty;
                                    }
                                    var megamenuTitle = megamenu.GetPropertyValue<string>("megamenuTitle");
                                    var subMenuLink = megamenu.GetPropertyValue<Link>("subMenuLink");
                                    var lastMenu = megamenu.GetPropertyValue<MultiUrls>("thirdLevelMenu");


                                                        <div class="cols @largeClass">

                                                            @if (subMenuLink.Target == "_blank")
                                {
                                                                <h3><a href="@subMenuLink.Url" target="_blank">@megamenuTitle </a></h3>
                                                            }
                                                            else
                                                            {
                                                                <h3><a href="@subMenuLink.Url">@megamenuTitle </a></h3>
                                                            }
                                                            @if (lastMenu.Count() > 0)
                                                			{
															<ul>
                                                                @foreach (var thirdL in lastMenu)
                            {
                                if (thirdL.Target == "_blank")
                                {
                                                                        <li><a href="@thirdL.Url" target="_blank">@thirdL.Name</a></li>
                                                                    }
                                else
                                {
                                                                        <li><a href="@thirdL.Url">@thirdL.Name</a></li>
                                                                    }

                            }
                                                            </ul>
	                                                        }
							                              
	                                					</div>
	                                					k++;
	                                				}
	                                				
	                                				</div>
	                            				</div>
	                          				</div>
	                        			</div>
                        			}
								</li>

                                    i++;

                                }
                            }
							<li class="search">
								<form action="/search">
									<label class="screen-reader-text" for="search">Search </label>
                                    <input type="text" title="search"  id="dsearch" name="q" value="@SearchKeyword" placeholder="Search" class="txtBox">
                                    <span class="submit">
                                    <i></i>
                                    </span>
								</form>
							</li>
						</ul>
					</div>
                </div>

          	</div>
        </div>
	</div>

	<!-- Mobile Menu -->

	<div class="mnavWrapper">
            <div class="wraps">
              <div class="marginWrap">
            <ul>
            @if (Model.Content.AncestorOrSelf(1).HasValue("primaryNavigation"))
            {
                foreach (var primaryNav in primaryNavigation)
                {
                    var primaryTitleLink = primaryNav.GetPropertyValue<Link>("primaryTitleLink");
                    var primaryTitle = primaryNav.GetPropertyValue<string>("primaryTitle");
                    var megaMenuPanel = primaryNav.GetPropertyValue<IEnumerable<IPublishedContent>>("megaMenuPanel");

                    <li>
                    @if (megaMenuPanel != null)
                    {
                        if (primaryTitleLink != null)
                        {
                            if (primaryTitleLink.Target == "_blank")
                            {
                                <a href="@primaryTitleLink.Url" class="msubMenu" target="_blank"  aria-label="@primaryTitleLink.Name">@primaryTitle </a>
                            }
                            else
                            {
                                <a href="@primaryTitleLink.Url" class="msubMenu"  aria-label="@primaryTitleLink.Name">@primaryTitle </a>
                            }

                        }
                        
                            <ul class="inner" style="display: none;">
                            @foreach (var megamenu in megaMenuPanel)
                            {

                                var megamenuTitle = megamenu.GetPropertyValue<string>("megamenuTitle");
                                var subMenuLink = megamenu.GetPropertyValue<Link>("subMenuLink");
                                var lastMenu = megamenu.GetPropertyValue<MultiUrls>("thirdLevelMenu");
                                <li>
                                    @if (lastMenu.Count() > 0)
                                    {
                                        if (subMenuLink.Target == "_blank")
                                        {
                                            <a href="@subMenuLink.Url" target="_blank" class="msubMenu">@megamenuTitle </a>
                                        }
                                        else
                                        {
                                            <a href="@subMenuLink.Url" class="msubMenu">@megamenuTitle </a>
                                        }
                                    
                                        <ul class="inner" style="display: none;">
                                            @foreach (var thirdL in lastMenu)
                                            {
                                                if (thirdL.Target == "_blank")
                                                {
                                                    <li><a href="@thirdL.Url" target="_blank">@thirdL.Name</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@thirdL.Url">@thirdL.Name</a></li>
                                                }

                                            }
                                        </ul>
                                    }
                                    else{

                                        if (subMenuLink.Target == "_blank")
                                        {
                                            <a href="@subMenuLink.Url" target="_blank">@megamenuTitle </a>
                                        }
                                        else
                                        {
                                            <a href="@subMenuLink.Url">@megamenuTitle </a>
                                        }
                                    }
                                   
                                </li>

                            }
                            </ul>
                    }
                    else{

                        if (primaryTitleLink != null)
                        {
                            if (primaryTitleLink.Target == "_blank")
                            {
                                <a href="@primaryTitleLink.Url"  target="_blank"  aria-label="@primaryTitleLink.Name">@primaryTitle </a>
                            }
                            else
                            {
                                <a href="@primaryTitleLink.Url"   aria-label="@primaryTitleLink.Name">@primaryTitle </a>
                            }

                        }
                    }
                    </li>
                }   
            }

            @if (Model.Content.AncestorOrSelf(1).HasValue("secondaryNavigation"))
            {
                foreach (var secondNav in secondaryNavigation)
                {
                    var secondaryLink = secondNav.GetPropertyValue<Link>("secondaryLink");
                    var secondaryTitle = secondNav.GetPropertyValue<string>("secondaryTitle");
                    var subMenu = secondNav.GetPropertyValue<IEnumerable<IPublishedContent>>("subMenu");
                    var menuClass = "";
                <li class="mtopNav">
                    @if (subMenu != null)
                    {
                        if (secondaryLink.Target == "_blank")
                        {
                            <a href="@secondaryLink.Url" class="msubMenu" target="_blank"  aria-label="@secondaryLink.Name">@secondaryTitle </a>
                        }
                        else
                        {
                            <a href="@secondaryLink.Url" class="msubMenu"  aria-label="@secondaryLink.Name">@secondaryTitle </a>
                        }

                    }
                    else{

                        if (secondaryLink.Target == "_blank")
                        {
                            <a href="@secondaryLink.Url"  target="_blank"  aria-label="@secondaryLink.Name">@secondaryTitle </a>
                        }
                        else
                        {
                            <a href="@secondaryLink.Url"   aria-label="@secondaryLink.Name">@secondaryTitle </a>
                        }
                    }
                    @if (subMenu != null)
                    {
                        <ul class="inner" style="display: none;">
                            @foreach (var sub in subMenu)
                            {
                                var secondLevellink = sub.GetPropertyValue<Link>("secondLevellink");
                                var submenuTitle = sub.GetPropertyValue<string>("submenuTitle");
                                <li>
                                    @if (secondLevellink != null)
                                    {
                                        if (secondLevellink.Target == "_blank")
                                        {
                                            <a href="@secondLevellink.Url" target="_blank"  aria-label="@secondLevellink.Name">@submenuTitle </a>
                                        }
                                        else
                                        {
                                            <a href="@secondLevellink.Url"  aria-label="@secondLevellink.Name">@submenuTitle </a>
                                        }

                                    }
                                </li>
                            
                            }
                        </ul>
                    }
                </li>
                   
                }
            }

            </ul>   
        
        </div>

    </div>
    </div>
</header>
